/*첫번째 페이지*/
.page1{
    background-color: #524656;
}
.boxAll {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -200px;
}

.boxAll div {
    background-color: #fff;
}

.b {
    width: 400px;
    height: 0;
}

.b1,
.b2 {
    margin-bottom: 125px;
}

.b2 {
    position: relative;
}

.v {
    width: 50px;
    height: 0;
    position: absolute;
}

.v1 {
    bottom: 0;
    left: 0;
}

.v2 {
    top: 0;
    right: 0;
}

.sv {
    width: 0;
    height: 175px;
    position: absolute;
    top: -62.5px;
}

.sv1 {
    left: 116px;
}

.sv2 {
    right: 116px;
}
.side1 {
    display: block;
    width: 0;
    height: 400px;
    background-color: #fff;
    position: absolute;
    left: 198px;
    top: -400px;
    transform: skewX(-45deg);
}

.side2 {
    display: block;
    width: 0;
    height: 400px;
    background-color: #fff;
    position: absolute;
    right: 202px;
    bottom: -400px;
    transform: skewX(-45deg);
}
.logo img{
    position: absolute;
    width: 710px;
    height: 0;
    bottom: 50px;
    left: 50%;
    margin-left: -355px;
    display: block;
}
/*두번째 페이지*/
#page2{
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.nav_pro{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    z-index:9000;
    transition-duration:1s;
}
.nav_pro.load{
    width:20%;
}
.nav_pro>li{
    height:25%;
}
.nav_pro>li:nth-child(1){
    background:#a5c3bb;
}
.nav_pro>li:nth-child(2){
    background:#e97957;
}
.nav_pro>li:nth-child(3){
    background:#ce4746;
}
.nav_pro>li:nth-child(4){
    background:#457c89;
}
.nav_pro>li>a{
    display:block;
    height:100%;
    font-size: 3vw;
    color: #e3dbcb; 
    font-family: "Holtwood One SC";
    text-align: center;
    line-height: 4;
}
.con_pro{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.con_pro>div{
    display:table;
    width:100%;
    height:100%;
}
.con_pro>div>div{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.pro1{
    z-index:8990;
    background-image:url(../images/bg_pj1.jpg);
}
.pro2{
    background-image:url(../images/bg_pj2.jpg);
}
.pro3{
    background-image:url(../images/bg_pj3.jpg);
}
.pro4{
    background-image:url(../images/bg_pj4.jpg);
}
.con_pro h3{
    font-size: 2.5vw;
    font-family: "Holtwood One SC";
    color: #fff;     
}
.con_pro a{
    font-size: 3vw;
    font-family: "Holtwood One SC";    
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}
.pro1 h3{
    text-shadow: 2px 2px 1px #a5c3bb;
}
.pro1 a{
    color: #a5c3bb; 
}
.pro2 h3{
    text-shadow: 2px 2px 1px #e97957;
}
.pro2 a{
    color: #e97957; 
}
.pro3 h3{
    text-shadow: 2px 2px 1px #ce4746;
}
.pro3 a{
    color: #ce4746; 
}
.pro4 h3{
    text-shadow: 2px 2px 1px #457c89;
}
.pro4 a{
    color: #457c89; 
}
/*세번째 페이지*/
.page3{
    background-image: url(../images/bg_page3.jpg);
}
.left, .right{    
    float: left;
    width: 50%;
}
.left>div{
    margin-left: 30%;
}
.callMe{
    font-weight: 500;
    padding-top: 50px;
    width: 450px;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
.right h3{
    font-size: 20px;
    font-weight: 500;
}
.right>section>pre{
    font-size: 18px;
    line-height: 1.8;
}
.skill_status{
    font-family: "Holtwood One SC";
    text-indent: 15px;
    color: #270f0f;
    width: 0px;
    background-color: #fff;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    margin: 20px;
}
.skill_call{
    display: block;
    background-color: #d14848;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    border:0;
    font-size: 16px;
    padding: 10px;
    margin: 20px 20px 0;
    outline:none;
    box-shadow: 0 10px #a33a3a;
    transition: 0.5s;
}
.ss1{background-color : #524757;}
.ss2{background-color : #fff;}
.ss3{background-color : #a6c4bc;}
.ss4{background-color : #eb7a57;}
.ss5{background-color : #d14848;}
.ss6{background-color : #467d8b;}

/*네번째 페이지*/
.page4{
    background-color: #524656;
}
.contact_wrap{
    width: 800px;
    height: 100%;
    margin: 0 auto;
}
.contact_wrap>h2{
    text-align:center;
    font-size: 60px;
    margin: 80px auto;
    color:#e3dbcb;
    text-shadow: 5px 5px 10px rgba(38,25,42,0.75);
}
.contact_wrap table{
    width:100%;
    margin: 0 auto;
    color:#555;
    font-size:1.1em;
    font-weight:bold;
}
.contact_wrap table td{
    height:50px;
}
.contact_wrap input{
    border:1px solid #ccc;
    color:#666;
}
.td_label{
    width:20%;
}
.td_label>label, .align_top{
    font-size: 20px;
    color:#e3dbcb;
    text-shadow: 2px 2px 5px rgba(38,25,42,0.75);
}
.td_box{
    width:80%;
}
.td_box input{
    box-sizing:border-box;
    height:35px;
    width: 100%;
    margin: 20px 0;
    background-color: #e3dbcb;
}
.td_box textarea{
    box-sizing:border-box;
    width: 100%;
    height:150px;
    margin:20px 0;
    text-align:left;
    border:1px solid #ccc;
    background-color: #e3dbcb;
}
.info_agree{    
    overflow:auto;
    box-sizing:border-box;
    width: 100%;
    height:100px;
    padding:10px;
    margin:20px 0;    
    border:1px solid #ccc;
    color: #270f0f;
    background-color: #e3dbcb;
    font-weight: normal;
}
.agree{
    text-align:center;
}
.agree>input, .agree>label{
    border:none;
    vertical-align:middle;
    color: #fff;
}
.send{
    text-align:center;
}
.send>input{
    width:130px;
    height:35px;
    color:#666;
}
.send>input:hover{
    background:#444;
    color:#e3dbcb;
    border:1px solid #333;
}
.required{
    color:#f25757;
}