@import url(sub_common.css);
header {
    background: url(../images/bg_pj4_top.jpg) no-repeat center;
}
.container>h2 {
    color: #457c89;
    text-shadow: 3px 3px 5px rgba(42, 91, 102, 0.75);
}
.container>div {
    background-color: #457c89;
    border: 1px solid #6b96a0;
}
.container>div.box1>div>pre {
    margin: 0;
    line-height: 2.4;
    padding-top: 50px;
}
.container>div>h3 {    
    text-shadow: 3px 3px 5px rgba(42, 91, 102, 0.75);    
}
.container>div.box2>div {
    background-color: #457c89;
}
.container>div.box2>h3{
    color: #457c89;
    text-shadow: 1px 1px 1px rgba(42, 91, 102, 0.75);
}
.container>div.box2>div>p>a{
    text-shadow: 0px 0px 20px rgba(22, 57, 64, 0.75);
}
.container>div.box2>div>p>a:hover{}
.col1 {
    background-color: #fff;
    border: 1px dotted #000;
    box-sizing: border-box;
}

.col2 {
    background-color: #444;
}

.col3 {
    background-color: #23b8c5;
}

.col4 {
    background-color: #fff5f5;
}

.col5 {
    background-color: #eab5cf;
}
.box2>div>p{
    padding-top: 100px;
}
.box5>div>p{
    padding-top: 65px;
}
.to_next {
    background-color: rgba(206, 71, 70, 0.5);
}
.to_next:hover{
    background-color: rgba(206, 71, 70, 1);
}
