body {
    background-color: #e5dccb;
}

header {
    height: 600px;
    width: 100%;
    background-size: cover;
}

header>h1 {
    padding-top: 50px;
    text-align: center;
}

.container>h2 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    margin: 40px;
    letter-spacing: 5px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container>div {    
    border-radius: 40px;
    box-sizing: border-box;
    width: 400px;
    float: left;
    height: 400px;
    text-align: center;
}

.container>div>h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    color: #fff;
    height: 150px;
    line-height: 150px;
}

.container>div.box1 {
    height: 800px;
}

.container>div>div {
    background-color: #fff;
    height: 240px;
    width: 380px;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 400;
}

.container>div.box1>div {
    height: 640px;
}

.container>div.box1>div>pre {
    margin: 0;
    line-height: 2.2;
    padding-top: 100px;
}

.box4>div {
    text-align: center;
}

.box4>div>p {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    display: inline-block;
    margin: 25px 10px 0;
}
.container>div.box2 {
    background-color: #fff;
}
.container>.box2>h3{
    font-size: 40px;
}
.box2>div>p{
    padding-top: 45px;
}
.container>div.box2>div>p>a{
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    transition: 0.6s;
}
.container>div.box2>div>p>a:hover:before{
    content: "> "
}
.container>div.box2>div>p>a:hover:after{
    content: " <"
}
.box3>div>p{
    padding-top: 65px;
}
.box7>div>p {
    padding-top: 40px;
}
.box6>div>p {
    padding-top: 110px;
}
.box8>div {
    text-align: center;
}
.box8>div>p {
    height: 50px;
    width: 80px;
    border-radius: 40px;
    display: inline-block;
    margin: 50px 10px 0;
}
footer {
    margin-top: 140px;
    height: 200px;
}

footer>div {
    float: left;
    width: 50%;
    height: 100%;
}
footer>div>a{
    display: block;
    width: 100%;   
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
    color: #e5dccb;
}
.to_list {
    background-color: rgba(82, 70, 86, 0.5);
    transition: 0.5s;
}

.to_list>a {
    text-align:right;
    text-indent: 50px;
    background: url(../images/ico_left.png) no-repeat 5% center;
    background-size: 5%;
    transition: 0.5s;
}
.to_list>a>span{
    margin-right: 50px;
}
.to_list:hover{
    background-color: rgba(82, 70, 86, 1);
}
.to_list:hover>a{
    background-size: 6%;
}
.to_next {
    transition: 0.5s
}
.to_next>a{
    background: url(../images/ico_right.png) no-repeat 95% center;
    background-size: 5%;
    transition: 0.5s;
}
.to_next>a>span{
    margin-left: 50px;
}
.to_next:hover>a{
    background-size: 6%;
}