/*전체공통*/
.p_center {max-width: 1280px; margin: 0 auto; height: 100%; position: relative;}

/*Layout*/
header {position:absolute; top:0; z-index: 8000; height:118px; width: 100%;}
header h1{display: block; padding: 60px 0 0 60px; width: 114px;height: 50px; float: left;}
header a {display: block;width: 100%;height: 100%;}

.topmenu { float: right; margin-right:60px;}
.topmenu li { float:left; margin-top:65px; margin-left:130px;}
.topmenu li a { font-size:20px }
.topmenu li:before { content:""; display:block; width:0px; height:4px; background:#000; transition:0.7s; }
.topmenu li:hover:before { width:16px; }
.topmenu li.top_on:before { content:""; display:block; width:16px; height:4px; background:#000; }

footer { position:absolute; bottom:0; z-index: 8000; width: 100%; height: 84px; }
.footer_bg { position:absolute; bottom:0; z-index: 5000; width: 100%; height: 84px; background-color: #2e2e2e;}
.copyright { color:#fff; float: left; }
.copyright div { margin-top: 26px; }
.copyright address { margin-top: 5px; }
.contact { color:#fff; float: right; }
.contact li { float:left; height:30px; margin-top: 26px; margin-left: 35px; }
.contact li:nth-child(1) {width:110px; background:url(../images/ico_contact1.png) no-repeat 5% center; line-height:30px; text-indent:40px}
.contact li:nth-child(2) {width:110px; background:url(../images/ico_contact2.png) no-repeat 5% center; line-height:30px; text-indent:40px}
.contact li:nth-child(3) {width:150px; background:url(../images/ico_contact3.png) no-repeat 5% center; line-height:30px; text-indent:40px}

/*Slide*/
.slidebox {max-width: 1280px; margin: 0 auto; height: 100%; position: relative;}
.slidebox .p_center { position: relative; height: 50vw; }
.catch1, .catch2{font-weight: lighter}
.slidebox .catch1 {position: absolute; top: 20%; left: 60px; font-size:80px; }
.slidebox .catch2 {position: absolute; top: 35%; right: 60px; text-align: right;  font-size:80px; }
.slidebox .catch3 {position: absolute; top: 70%; left: 207px;}
.bxslider { height: 100%; }
.slidebox .p_center:nth-child(1) { background:url(../images/bg_slide1.png) no-repeat center;}
.slidebox .p_center:nth-child(2) { background:url(../images/bg_slide2.png) no-repeat center 40%;}
.slidebox .p_center:nth-child(3) { background:url(../images/bg_slide3.png) no-repeat 40% 40%;}
.slidebox .p_center:nth-child(4) { background:url(../images/bg_slide4.png) no-repeat 40% 40%;}

/*Section 공통*/
.section .p_center { position: relative;}
.con_box { position: absolute; width: 403px; height: 403px; box-sizing: border-box; border: 14px solid #000; top: calc(50% - 201px); z-index: 5000; text-align: center; }
.summ { position: absolute; top: calc(50% - 98px); line-height: 98px; height: 98px; background-color: #fff; font-size: 80px; z-index: 6000; font-weight: bold; }
.con_box h2 { margin-top: 40px; font-size:20px; }
.view {position: absolute; left:159px; bottom:17px; width: 53px; height: 21px; border: 2px solid rgba(0, 0, 0, 0.3); border-radius: 4px; transition:0.5s; }
.view a {display: block; width: 100%; height: 21px; font-size:18px; font-weight:600; margin-top:-2px; padding-bottom:2px; }

.iconbox { position: absolute; top:20%; width: 39px; height: 19px; background:url(../images/ico_con_box01.gif) no-repeat; }
.topbox { position: absolute; bottom:20%; width: 39px; height: 19px; cursor:pointer; }

/*section1*/
.con_box1 { right: 118px; }
.con_box1 dt {margin-top: 140px; }
.con_box1 dd {margin-top: 20px;}
.section2 .summ {right: 45px;}
.section2 .p_center { background:url(../images/bg_section2.jpg) no-repeat 0 0; background-size:contain; }
.section2 .iconbox, .section2 .topbox { right:300px; }
/*section2*/
.con_box2 { left:96px; }
.section3 .summ { left:36px;}
.section3 .p_center { background:url(../images/bg_section3.jpg) no-repeat 100% 0; background-size:contain; }
.con_box2 dt:nth-of-type(1) {margin-top: 140px; }
.con_box2 dt:nth-of-type(2) {margin-top: 15px;}
.con_box2 dd {margin-top: 10px;}
.section3 .iconbox, .section3 .topbox { left:279px; }
/*section3*/
.con_box3 { right: 175px; }
.con_box3 p { margin-top: 140px; line-height:1.5; }
.section4 .summ {right: 0px; letter-spacing:-2px;}
.section4 .p_center { background:url(../images/bg_section4.jpg) no-repeat 0 0; background-size:contain; }
.section4 .iconbox, .section4 .topbox { right:357px; }
/*section4*/
.con_box4 { left:129px; }
.section5 .summ { left:0px;letter-spacing:-2px; font-size:75px;}
.section5 .p_center { background:url(../images/bg_section5.jpg) no-repeat 100% 0; background-size:contain; }
.con_box4 li:nth-of-type(1) {margin-top: 140px; }
.con_box4 li:nth-of-type(2) {margin-top: 15px;}
.section5 .iconbox, .section5 .topbox { left:311px; }















