/*전체공통*/
.p_center { max-width: 1280px; margin: 0 auto; }

/*Layout*/
header { height:118px; width: 100%;}
header h1{display: block; padding: 60px 0 0 60px; width: 114px;height: 50px; float: left;}
header a {display: block;width: 100%;height: 100%;}

.topmenu { float: right; margin-right:60px;}
.topmenu li { float:left; margin-top:65px; margin-left:130px;}
.topmenu li a { font-size:20px }
.topmenu li:before { content:""; display:block; width:0px; height:4px; background:#000; transition:0.7s; }
.topmenu li:hover:before { width:16px; }
.topmenu li.top_on:before { content:""; display:block; width:16px; height:4px; background:#000; }

footer { width: 100%; height: 84px; }
.footer_bg { position:relative; bottom:0; z-index: 5000; width: 100%; height: 84px; background-color: #2e2e2e; margin-top: 100px;}
.copyright { color:#fff; float: left; }
.copyright div { margin-top: 26px; }
.copyright address { margin-top: 5px; }
.contact { color:#fff; float: right; }
.contact li { float:left; height:30px; margin-top: 26px; margin-left: 35px; }
.contact li:nth-child(1) {width:110px; background:url(../images/ico_contact1.png) no-repeat 5% center; line-height:30px; text-indent:40px}
.contact li:nth-child(2) {width:110px; background:url(../images/ico_contact2.png) no-repeat 5% center; line-height:30px; text-indent:40px}
.contact li:nth-child(3) {width:150px; background:url(../images/ico_contact3.png) no-repeat 5% center; line-height:30px; text-indent:40px}

.intro { max-width: 1280px; margin: 0 auto; }
.p_top { margin:0 60px; padding:180px 0 135px; border-bottom:1px solid #000; }
.p_top h2 { display: block; float:left; font-weight:normal; font-size: 50px; }
.p_top div { float: left; margin-left:180px; font-size:16px; line-height:38px; font-weight:600; }

.comment { margin:80px 60px 0; height:50px; }
.comment_head, .comment_list li { display:block; color:#00a7ea; font-weight:bold; font-size:17px; }
.comment_list li { cursor:pointer; }
.comment_list li:before { content:""; display:block; width:0px; height:4px; background:#00a7ea; transition:0.7s; }
.comment_list li:hover:before { width:16px; }
.comment_list li.sli_active:before { content:""; display:block; width:16px; height:4px; background:#00a7ea; }
.comment_head { float:left; width:130px; background:url(../images/ico_brand.gif) no-repeat 90% center; }
.comment_list { float: right; }
.comment_list li { float:left; margin-left:50px; }

.slider_box { max-width:1280px; margin: 40px 60px 0; position:relative; height:500px; }
.position_box { position:absolute; transition:0.7s; opacity:0;}

.slider>div {height:500px; position:relative;}
.slider h3 { position:absolute; top:0; left:0; float:left; display:block; font-size: 40px; font-weight:normal; }
.slider dl { float:left; margin-right:50px; }
.slider dl dt { margin-top:160px; font-weight:bold; color:#727171; font-size:14px; }
.slider dl dd { margin-top: 14px; font-size:14px; }
.slider .sli_con { clear:both; margin-top:250px; font-size:16px; }
.slider .site { position:absolute; bottom:0; right:0px; width: 620px;}
.slider .site span { position:absolute; bottom:1px; right:20px; max-width:500px;}
.slider .site a { position:absolute; bottom:0; right:0; display:block; width:19px; height:19px; }


.sli_ar1 { background:url(../images/images/bg_ar01.jpg) no-repeat 552px 0; }
.sli_ar2 { background:url(../images/images/bg_ar02.jpg) no-repeat 552px 0; }
.sli_ar3 { background:url(../images/images/bg_ar03.jpg) no-repeat 552px 0; }
.sli_ar4 { background:url(../images/images/bg_ar04.jpg) no-repeat 552px 0; }
.sli_ar5 { background:url(../images/images/bg_ar05.jpg) no-repeat 552px 0; }
.sli_ar6 { background:url(../images/images/bg_ar06.jpg) no-repeat 552px 0; }
.sli_ar7 { background:url(../images/images/bg_ar07.jpg) no-repeat 552px 0; }
.sli_ar8 { background:url(../images/images/bg_ar08.jpg) no-repeat 552px 0; }
.sli_ar9 { background:url(../images/images/bg_ar09.jpg) no-repeat 552px 0; }
.sli_ar10 { background:url(../images/images/bg_ar10.jpg) no-repeat 552px 0; }
.sli_ar11 { background:url(../images/images/bg_ar11.jpg) no-repeat 552px 0; }

.sli_sr1 { background:url(../images/images/bg_sr01.jpg) no-repeat 552px 0; }
.sli_sr2 { background:url(../images/images/bg_sr02.jpg) no-repeat 552px 0; }
.sli_sr3 { background:url(../images/images/bg_sr03.jpg) no-repeat 552px 0; }
.sli_sr4 { background:url(../images/images/bg_sr04.jpg) no-repeat 552px 0; }
.sli_sr5 { background:url(../images/images/bg_sr05.jpg) no-repeat 552px 0; }
.sli_sr6 { background:url(../images/images/bg_sr06.jpg) no-repeat 552px 0; }
.sli_sr7 { background:url(../images/images/bg_sr07.jpg) no-repeat 552px 0; }
.sli_sr8 { background:url(../images/images/bg_sr08.jpg) no-repeat 552px 0; }
.sli_sr9 { background:url(../images/images/bg_sr09.jpg) no-repeat 535px 0; }
.sli_sr10 { background:url(../images/images/bg_sr10.jpg) no-repeat 535px 0; }
.sli_sr11 { background:url(../images/images/bg_sr11.jpg) no-repeat 535px 0; }
.sli_sr12 { background:url(../images/images/bg_sr12.jpg) no-repeat 535px 0; }
.sli_sr13 { background:url(../images/images/bg_sr13.jpg) no-repeat 535px 0; }
.sli_sr14 { background:url(../images/images/bg_sr14.jpg) no-repeat 535px 0; }
.sli_sr15 { background:url(../images/images/bg_sr15.jpg) no-repeat 535px 0; }
.sli_sr16 { background:url(../images/images/bg_sr16.jpg) no-repeat 535px 0; }
.sli_sr17 { background:url(../images/images/bg_sr17.jpg) no-repeat 535px 0; }
.sli_sr18 { background:url(../images/images/bg_sr18.jpg) no-repeat 535px 0; }
.sli_sr19 { background:url(../images/images/bg_sr19.jpg) no-repeat 535px 0; }
.sli_sr20 { background:url(../images/images/bg_sr20.jpg) no-repeat 535px 0; }
.sli_sr21 { background:url(../images/images/bg_sr21.jpg) no-repeat 535px 0; }
.sli_sr22 { background:url(../images/images/bg_sr22.jpg) no-repeat 535px 0; }
.sli_sr23 { background:url(../images/images/bg_sr23.jpg) no-repeat 535px 0; }
.sli_sr24 { background:url(../images/images/bg_sr24.jpg) no-repeat 535px 0; }
.sli_sr25 { background:url(../images/images/bg_sr25.jpg) no-repeat 535px 0; }


.sli_bro2 { background:url(../images/images/bg_bro02.jpg) no-repeat 535px 0; }
.sli_bro3 { background:url(../images/images/bg_bro03.jpg) no-repeat 535px 0; }
.sli_bro4 { background:url(../images/images/bg_bro04.jpg) no-repeat 535px 0; }
.sli_bro5 { background:url(../images/images/bg_bro05.jpg) no-repeat 535px 0; }
.sli_bro6 { background:url(../images/images/bg_bro06.jpg) no-repeat 535px 0; }
.sli_bro7 { background:url(../images/images/bg_bro07.jpg) no-repeat 535px 0; }
.sli_bro8 { background:url(../images/images/bg_bro08.jpg) no-repeat 535px 0; }

.sli_oi1 { background:url(../images/images/bg_oi01.jpg) no-repeat 535px 0; }
.sli_oi2 { background:url(../images/images/bg_oi02.jpg) no-repeat 535px 0; }
.sli_oi3 { background:url(../images/images/bg_oi03.jpg) no-repeat 535px 0; }
.sli_oi4 { background:url(../images/images/bg_oi04.jpg) no-repeat 535px 0; }
.sli_oi5 { background:url(../images/images/bg_oi05.jpg) no-repeat 535px 0; }
.sli_oi6 { background:url(../images/images/bg_oi06.jpg) no-repeat 535px 0; }

.sli_ww1 { background:url(../images/images/bg_ww01.jpg) no-repeat 535px 0; }
.sli_ww2 { background:url(../images/images/bg_ww02.jpg) no-repeat 535px 0; }
.sli_ww3 { background:url(../images/images/bg_ww03.jpg) no-repeat 535px 0; }
.sli_ww4 { background:url(../images/images/bg_ww04.jpg) no-repeat 535px 0; }
.sli_ww5 { background:url(../images/images/bg_ww05.jpg) no-repeat 535px 0; }
.sli_ww6 { background:url(../images/images/bg_ww06.jpg) no-repeat 535px 0; }
.sli_ww7 { background:url(../images/images/bg_ww07.jpg) no-repeat 535px 0; }
.sli_ww8 { background:url(../images/images/bg_ww08.jpg) no-repeat 535px 0; }
.sli_ww9 { background:url(../images/images/bg_ww09.jpg) no-repeat 535px 0; }























