@import url(sub_common.css);
header {
    background: url(../images/bg_pj3_top.jpg) no-repeat center;
}
.container>h2 {
    color: #ce4746;
    text-shadow: 3px 3px 5px rgba(182, 56, 55, 0.75);
}
.container>div {
    background-color: #ce4746;
    border: 1px solid #ce6d6c;
}
.container>div.box1>div>pre {
    margin: 0;
    line-height: 2.5;
    padding-top: 70px;
}
.container>div>h3 {    
    text-shadow: 3px 3px 5px rgba(182, 56, 55, 0.75);    
}
.container>div.box2>div {
    background-color: #ce4746;
}
.container>div.box2>h3{
    color: #ce4746;
    text-shadow: 1px 1px 1px rgba(182, 56, 55, 0.75);
}
.container>div.box2>div>p>a{
    text-shadow: 0px 0px 20px rgba(101, 24, 23, 0.75);
}
.container>div.box2>div>p>a:hover{}
.col1 {
    background-color: #f2f2f2;
}

.col2 {
    background-color: #fffc86;
}

.col3 {
    background-color: #ccc99a;
}

.col4 {
    background-color: #134a00;
}

.col5 {
    background-color: #99271f;
}
.box2>div>p{
    padding-top: 45px;
}
.box5>div>p{
    padding-top: 42px;
}
.to_next {
    background-color: rgba(69,124,137, 0.5);
}
.to_next:hover{
    background-color: rgba(69,124,137, 1);
}
