@charset "UTF-8";
.wrap .container .content{
  border: none !important;
}
.panel-body .form-group{
  padding-top: 20px;
}
.panel-body .form-group:first-child{
  padding-top: 0;
}
.panel-body .form-group label{
  font-size: 14px;
}
.panel-body .form-group .form-control{
  margin-top: 5px;
}
.panel-body .box-birth{
  position: relative
}
.panel-body .box-birth .birth-ex{
  position: absolute;
  top: 23px;
  right: 5px;
  color: #999;
}
.panel .panel-footer{
  padding-top: 0;
  border: none;
}
