@charset "UTF-8";
.mw520{
	max-width: 520px;
}
.mw700{
	max-width: 700px;
}
/* 서버 점검 */
.container-system{
	height: 100vh;
  background-color: #484a4a;
}
.container-system .fixed-center{
  width: 93.75%;
}
.container-system .fixed-center h1{
  width: 99px;
  height: 21px;
  margin-bottom: 20px;
}
.container-system .fixed-center .content{
  width: 100%;
  padding: 60px 20px;
	font-weight: 400;
}
.container-system .fixed-center .content .system-title{
	margin-bottom: 30px;
	text-align: left;
}
.container-system .fixed-center .content .system-title h2{
	display: inline-block;
	width: 100%;
  margin: 0 auto;
	font-size: 26px;
	font-weight: 400;
}
.container-system .fixed-center .content .system-title small{
	display: inline-block;
	padding-top: 10px;
	font-size: 12px;
	color: #999;
}
.container-system .fixed-center .content .system-check{
	margin-bottom: 30px;
	padding: 20px 0;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
.container-system .fixed-center .content .system-check strong{
	font-size: 14px;
	color: #da8f1d;
	line-height: 1.6;
}
.container-system .fixed-center .content .system-check p{
	font-size: 13px;
	color: #666;
}
/* 공지 180409 */
.container-system .fixed-center .panel{
	background-color: #fff;
}
.container-system .fixed-center .panel .panel-heading{
	border-bottom: solid 1px #dadada;
}
.container-system .fixed-center .panel .panel-heading h1{
  display: inline-block;
	width: 79px;
	margin-bottom: 30px;
}
.container-system .fixed-center .panel .panel-heading h2{
	font-size: 16px;
	font-weight: 500;
  color: #1f1f1f;
}
.container-system .fixed-center .panel .panel-heading small{
	font-size: 12px;
	font-weight: 500;
	color: #da8f1d;
}
.container-system .fixed-center .panel .panel-body{
	font-size: 12px;
	color: #666;
}
.container-system .fixed-center .panel .panel-body p{
	max-height: 250px;
	overflow: hidden;
	overflow-y: auto;
	line-height: 1.4;
}
@media (min-width: 768px){
	.container-system .fixed-center .content{
		padding: 60px 50px;
	}
	.container-system .fixed-center .content .system-title h2{
		font-size: 30px;
	}
	.container-system .fixed-center .content .system-title small{
		font-size: 14px;
	}
	.container-system .fixed-center .content .system-check strong{
		font-size: 16px;
	}
	.container-system .fixed-center .content .system-check p{
		font-size: 15px;
	}
	/* 공지 180409 */
	.container-system .fixed-center .panel .panel-heading h1{
		width: 99px;
	}
	.container-system .fixed-center .panel .panel-heading h2{
		font-size: 26px;
	}
	.container-system .fixed-center .panel .panel-heading small{
		font-size: 15px;
	}
	.container-system .fixed-center .panel .panel-body{
		padding: 50px 60px;
		font-size: 14px;
		color: #666;
	}
	.container-system .fixed-center .panel .panel-body p{
		max-height: 550px;
		overflow: hidden;
		overflow-y: auto;
	}
}
