@charset "UTF-8";
.tab-nav{
	margin: 20px auto;
}
/* header */
.header .h-gnb-sub .common-sub ul li{
	width: 50%;
}
/* container */
.detail_inout .content .panel .panel-body{
	padding: 0;
}
.detail_inout .content .panel .panel-body .table-responsive > table > tbody > tr > td > .table-responsive{
	max-height: 660px;
}
.detail_inout .content .panel .panel-body .table-responsive table tbody tr.active th{
	border-left: solid 4px #e73838;
	border-top: solid 4px #e73838;
	border-bottom: solid 4px #e73838;
}
.detail_inout .content .panel .panel-body .table-responsive table tbody tr.active td{
	border-top: solid 4px #e73838;
	border-bottom: solid 4px #e73838;
}
.detail_inout .content .panel .panel-body .table-responsive table tbody tr.active td:last-child{
	border-top: solid 4px #e73838;
	border-bottom: solid 4px #e73838;
	border-right: solid 4px #e73838;
}
/*랭킹 페이지*/
.tab-nav > ul > li{
	width: 50%;
}
.rank_info {
	float: none;
	font-size: 12px;
	margin-top: 12px;
	line-height: 1.4;
}
.mb_view {display: block;}
@media (min-width: 1080px) {
  .mb_view {display: none;}
	.container-wallet{
		max-width: 1080px;
		margin: 0 auto;
	}
	.content {
		margin-bottom: 20px;
	}
	.content .panel .panel-heading {
		border-bottom: 0;
	}
	.content .panel .panel-body {
		padding: 50px;
		font-size: 14px;
	}
	.content .panel .panel-footer {
		border-top: 0;
	}
	.content .content-left .panel .panel-body{
		padding-top: 20px;
		padding-bottom: 0;
	}
	.detail_inout .content .panel .panel-body .table-responsive > table > tbody > tr > td > .table-responsive{
		max-height: 570px;
	}
	.content-wait .panel .panel-body{
		padding: 0;
	}
  .rank_info {
		float: right;
		text-align: right;
		margin-top: 7px;
	}
}
