@charset "UTF-8";
/* font: Noto Sans */
/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);*/
/*
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Thin.eot');
	src: url('../fonts/notosans/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Thin.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
*/
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Light.eot');
	src: url('../fonts/notosans/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Light.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-DemiLight.eot');
	src: url('../fonts/notosans/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-DemiLight.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-DemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Regular.eot');
	src: url('../fonts/notosans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Regular.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Medium.eot');
	src: url('../fonts/notosans/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Medium.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Bold.eot');
	src: url('../fonts/notosans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Bold.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Black.eot');
	src: url('../fonts/notosans/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Black.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* reset */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0 auto;
	padding: 0;
	background-color: #fff;
	font-family: 'Noto Sans', sans-serif, AppleSDGothicNeo-Regular, Roboto, 'Malgun Gothic', '맑은 고딕';
	font-size: 14px;
	font-weight: 400;
	color: #3c3c3c;
	line-height: 1.2;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
a{
	color: inherit;
	text-decoration: none;
}
a:focus {
	color: inherit;
	outline: none;
}
a:active, a:hover, a:visited {
	color: inherit;
	outline: 0;
	text-decoration: none;
}
b, strong {
	font-weight: 600;
}
dl {
	width: 100%;
}
dd {
	margin: 0;
	padding: 0;
}
hr {
	width: 100%;
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	border-top: solid 1px #dce0e3;
}
p{
	padding: 0;
	margin: 0;
}
img {
	width: 100%;
	height: auto;
	border: none;
}
svg:not(:root) {
	overflow: hidden;
}
fieldset{
	margin: 0 auto;
	padding: 0;
	border: none;
}
legend {
	border: 0;
	padding: 0;
}
form fieldset legend {
	display: none;
}
button, input, select, textarea, fieldset {
	font-family: 'Noto Sans', sans-serif, AppleSDGothicNeo-Regular, Roboto, 'Malgun Gothic', '맑은 고딕';
	font-size: inherit;
	line-height: inherit;
}
button {
	background: 0 0;
	border: none;
	overflow: visible;
	text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
     -moz-appearance: button;
      -ms-appearance: button;
       -o-appearance: button;
          appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
cite, em, var, address, dfn {
  font-style: normal;
}
input, textarea{
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: none;
}
select {
  text-overflow: '';
	border-radius: 0;
	box-shadow: none;
	-webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
select::-ms-expand {
   display: none;
}
:focus {
	outline: 0;
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
	margin: 0;
}
input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
	font-weight: 300;
	color: #ccc;
	opacity: 1;
	filter: alpha(opacity=10);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
	font-weight: 300;
	color: #ccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	font-weight: 300;
	color: #ccc;
}
ul, ol, dl, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4 {
	margin: 0;
	font-weight: inherit;
	letter-spacing: -1px;
}
small {
	font-size: .80%;
}
table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
}
table caption {
	display: none;
}
table tbody tr:hover {
	/*background: rgba(100,100,100,.02);*/
}
th, td {
	padding: 9px;
	text-align: center;
	font-weight: 300;
	word-break: break-all;
}
/* common */
.clear {
	clear: both;
}
.fixed-full {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.fixed-center {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.of-h {
	overflow: hidden;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.scrollbar::-webkit-scrollbar-track {
	/*
	border-radius: 50px;
	-ms-border-radius: 50px;
	*/
}
.scrollbar::-webkit-scrollbar {
	width: 10px;
	background: transparent;
	/*
	border-radius: 50px;
	-ms-border-radius: 50px;
	*/
}
.scrollbar::-webkit-scrollbar-thumb {
	/*
	border-radius: 10px;
	-ms-border-radius: 10px;
	*/
	background-color: #b1aea8;
}
/* icon */
.icon-KRW{background: url(../images/icon_krw.png) no-repeat;}
.icon-ETH{background: url(../images/icon_eth.png) no-repeat;}
.icon-BTC{background: url(../images/icon_btc.png) no-repeat;}
.icon-BCH{background: url(../images/icon_bch.png) no-repeat;}
.icon-QTUM{background: url(../images/icon_qtum.png) no-repeat;}
.icon-SC{background: url(../images/icon_sia.png) no-repeat;}
.icon-arrow-down3{background: url(../images/icon-arrow-down3.png) no-repeat;}
.mb-view{display: block;}
.pc-view{display: none;}
@media (min-width: 1280px){
  .mb-view{display: none;}
  .pc-view{display: block;}
}
/* Text */
.text-left {text-align: left !important;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-nowrap {white-space: nowrap;}
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
.text-underline{text-decoration: underline;}
.text-mute{color: #666;}
.text-warning {color: #d01c1c;}
.text-primary {color: #1246a6;}
.text-success{color: #00c73c;}
.text-info {color: #898a8a;}
.text-danger {color: #413f3d;}
.text-black {color: #000;}
.text-money{color: #d88722;}
.text-highlight{color: #f42323;}
/* wiidth */
.w100p {width: 100%;}
.w30p {width: 30%;}
.w60p {width: 60%;}
.w65p {width: 65%;}
.w70p {width: 70%;}
/* margin */
.mnauto {margin: 0 auto !important;}
.mt0 {margin-top: 0px !important;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}
.mb0 {margin-bottom: 0 !important;}
.mb5 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mr20 {margin-right: 20px;}
/* padding */
.pn {padding: 0 !important;}
.pt0 {padding-top: 0px !important;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pr30 {padding-right: 30px;}
.pr35 {padding-right: 35px;}
.pb0 {padding-bottom: 0px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb40 {padding-bottom: 40px !important;}
.pl17{padding-left: 17px;}
/* border */
.bt-none{border-top: 0 !important;}
.bb-none{border-bottom: 0 !important;}
/* background */
.bg-base {background-color: #fff;}
.bg-primary {background-color: #1246a6;}
.bg-success {background-color: #00c73c;}
.bg-info {background-color: #898a8a;}
.bg-warning {background-color: #d01c1c;}
/* checkbox */
.radio label, .checkbox label {
	min-height: 20px;
	padding-left: 5px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-top: 4px \9;
	margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
	margin-top: -5px;
}
/* input */
.form-control {
	display: block;
	width: 100%;
	height: 40px;
	padding: 6.5px 12px 7px 12px;
	font-size: 14px;
	line-height: 1.4;
	color: #000;
	background-color: #fff;
  border: solid 1px #ddd;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}
.form-control:focus {
	border: 1px solid #413f3d;
	outline: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}
textarea.form-control {
	height: auto;
}
.form-inline, .form-inline * {
	box-sizing: border-box;
}
.form-inline {
	line-height: 1.2312;
	font-weight: 300;
	font-size: 14px;
	color: #626262;
}
.form-inline input[type="button"],
.form-inline input[type="submit"],
.form-inline input[type="search"],
.form-inline .select-multiple select {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.form-inline input[type="search"]::-webkit-search-decoration,
.form-inline input[type="search"]::-webkit-search-cancel-button,
.form-inline input[type="search"]::-webkit-search-results-button,
.form-inline input[type="search"]::-webkit-search-results-decoration {display: none;}
.form-inline .radio, .form-inline .button, .form-inline .checkbox {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-inline label,
.form-inline input,
.form-inline button,
.form-inline select,
.form-inline textarea {
	margin: 0;
	font-size: 12px;
	font-weight: 300;
	outline: none;
}
.form-inline .radio,
.form-inline .button,
.form-inline .tooltip,
.form-inline .checkbox {
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	outline: none;
}
.form-inline .radio,
.form-inline .option,
.form-inline .checkbox {
	cursor: pointer;
}
.form-inline .field {
	display: block;
	position: relative;
}
.form-inline .field-icon i {
	position: relative;
	color: #bbb;
}
.form-inline .field-label {
	display: block;
	margin-bottom: 7px;
	color: #78909c;
	font-size: 12px;
	text-transform: uppercase;
}
.form-inline .field-label em {
	position: relative;
	top: 3px;
	display: inline-block;
	margin-left: 4px;
	font-size: 14px;
	font-style: normal;
	color: #e74c3c;
}
.form-inline .option {
	display: inline-block;
	position: relative;
	padding-right: 15px;
	vertical-align: middle;
}
.form-inline .option > input {
	position: absolute;
	height: 1px;
	width: 1px;
	opacity: 0;
	filter: alpha(opacity=0);
	left: 0;
}
.form-inline .checkbox, .form-inline .radio {
	cursor: pointer;
	position: relative;
	display: inline-block;
	border: 1px solid #afb7bf;
	width: 18px;
	height: 18px;
	margin-top: 9px;
	margin-bottom: 10px;
	background: #fff;
	vertical-align: middle;
}
.form-inline .checkbox:before, .form-inline .radio:before {
	content: '';
	display: none;
}
.form-inline input:checked + .checkbox:before,
.form-inline input:checked + .radio:before {
	display: block;
}
.form-inline .checkbox:before {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 9px;
	height: 6px;
	border: solid #413f3d;
	border-width: 0 0 2px 2px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.form-inline input:checked + .checkbox, .form-inline input:checked + .radio {
	border: 1px solid #413f3d;
	background-color: #fff;
}
.form-inline .checkbox-sm:before, .form-inline .radio-sm:before {
	top: 4px;
	left: 3px;
	width: 10px;
	height: 5px;
}
.form-inline .radio {
	-o-border-radius: 20px;
	border-radius: 20px;
}
.form-inline .radio:before {
	width: 19px;
	height: 19px;
	margin: 4px 0 0 4px;
	background: #fff;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  padding: 6px 12px 7px 12px;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control + .input-group-btn button {
	border-left: 0;
	width: 100%;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
  padding: 7px 13px 8px 13px;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
.input-group-time{
	position: relative;
}
.input-group-time .form-control{
	padding-right: 60px;
}
.input-group-time .input-time{
	position: absolute;
	right: 10px;
	top: 11px;
}
.form-invld{
	border: solid 1px red !important;
}
/* button */
.btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  background-color: #ececec;
  border: 1px solid #ddd;
  color: #808e9c;
}
.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #fff;
	background-color: #bfbfbf;
  border: solid 1px #bfbfbf;
}
.btn-primary {
  color: #fff;
	background-color: #1246a6 !important;
  border: solid 1px #0058c8 !important;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-warning {
  color: #fff;
  background-color: #d01c1c !important;
  border-color: #d01c1c !important;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-black {
  color: #fff;
  background-color: #413f3d;
  border-color: #413f3d;
}
.btn-link {
  font-weight: normal;
  color: #337ab7;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 12px 10px;
  font-size: 16px;
}
.btn-md,
.btn-group-md > .btn {
  padding: 9px 0 11px 0;
	font-size: 14px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 11px;
}
.btn-block,
.btn-block button {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
/* panel */
.panel {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.panel .panel-heading {
  padding: 30px 30px 20px 30px;
}
.panel .panel-heading .panel-title {
  display:  inline-block;
  margin-top: 0;
  margin-bottom: 0;
	vertical-align: middle;
}
.panel .panel-heading .panel-title h2 {
	font-size: 16px;
	font-weight: 500;
	color: #000;
}
.panel .panel-heading .panel-title > a,
.panel .panel-heading .panel-title > small,
.panel .panel-heading .panel-title > .small,
.panel .panel-heading .panel-title > small > a,
.panel .panel-heading .panel-title > .small > a {
  color: inherit;
}
.panel .panel-heading small{
	display: block;
	padding-top: 10px;
	font-size: 12px;
	color: #7a7a7b;
	line-height: 1.4;
}
.panel .panel-heading .dropdown{
	display: inline-block;
	float: right;
	margin-top: -3px;
}
.panel .panel-footer {
  overflow: hidden;
  padding: 20px 30px;
  border-top: 1px solid #f7f9fb;
}
.panel .panel-body {
  overflow: hidden;
  padding: 20px 30px;
  font-size: 11px;
}
.panel-form .panel-body .form-group:last-child {
	margin-bottom: 0;
}
.panel-form .panel-footer {
	padding: 15px 30px 20px 30px;
}
.panel-form .panel-footer .btn-block + .text-info {
	padding-top: 10px;
	text-align: center;
}
/* table */
.table-no-data {
	padding: 80px 0;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
}
.table-responsive{
	overflow: auto;
}
.table-responsive .table{
	min-width: 640px;
}
.table tr td{
	font-size: 12px;
}
.table-striped thead tr th,
.table-striped tbody tr th,
.table-striped tbody tr td {
	text-align: center;
}
.table-striped tbody.sell tr:first-child th,
.table-striped tbody.sell tr:first-child td {
	border-top: 1px solid #ccd5e0;
}
.table-striped tbody.sell tr:nth-child(even) {
	background-color: #f9eff2;
}
.table-striped tbody.sell tr:nth-child(odd) {
	background-color: #f4dfe5;
}
.table-bordered thead tr th {
	background-color: #f5f5f5;
	border-bottom: solid 1px #e7e7e7;
	border-right: solid 1px #e7ebf0;
}
.table-bordered tbody tr th,
.table-bordered tbody tr td{
	padding: 10px 15px;
	border-bottom: solid 1px #e7ebf0;
}
.table-bordered tbody tr:last-child td{
	border-bottom: 0;
}
.table-bordered thead tr th,
.table-bordered tbody tr th,
.table-bordered tbody tr td,
.table-bordered tfoot tr th,
.table-bordered tfoot tr td{
	border-right: solid 1px #e7ebf0;
}
.table-bordered thead tr th:last-child,
.table-bordered tbody tr th:last-child,
.table-bordered tbody tr td:last-child,
.table-bordered tfoot tr td:last-child{
	border-right: 0;
}
.table-line thead tr{
	background-color: #88898b;
}
.table-line thead tr th{
	padding: 15px 5px;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}
.table-line tbody tr th{
	color: #333333;
}
.table-line tbody tr td{
	color: #333333;
	padding: 0;
}
.table-line .table-responsive .table tbody tr th,
.table-line .table-responsive .table tbody tr td{
	padding: 15px 5px;
	border-bottom: solid 1px #e0e0e0;
}
.table-line .table-responsive .table tbody tr:last-child th,
.table-line .table-responsive .table tbody tr:last-child td{
	border-bottom: 0;
}
.table-lined{
	border-top: solid 2px #413f3d;
}
.table-lined tbody tr td{
	border-left: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 12px 15px;
  font-weight: 500;
	text-align: left;
}
.table-lined tbody tr td:first-child{
	border-left: 0;
}
.table-hover tbody tr:hover{
	background-color: #fafafa;
	cursor: pointer;
}
/* dropdown */
.dropdown{
	position: relative;
	cursor: pointer;
}
.dropdown > select{
	padding: 7px 35px 7px 10px;
	background-color: #fff;
	border: solid 1px #ddd;
	font-size: 12px;
	font-weight: 400;
	color: #898a8a;
	text-align: left;
	background: #fff url('../images/icon-arrow-down2.png') no-repeat right center;
	background-size: 13px;
	background-position: right 5px center;
	-webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
.dropdown + .dropdown {
	margin-right: 5px;
}
.dropdown-menu{
	display: none;
	width: 100%;
}
.dropdown-menu li{
	background-color: #fff;
	border: solid 1px #cccccc;
	border-top: 0;
	border-bottom: 0;
}
.dropdown-menu li:last-child{
	border-bottom: solid 1px #cccccc;
}
.dropdown-menu li a{
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: 400;
	color: #898a8a;
}
/* pagination */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
  border-radius: 4px;
}
.pagination > li {
  display: inline-block;
  margin: 0 3px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 4px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #413f3d;
	font-size: 12px;
  font-weight: 500;
  text-decoration: none;
	cursor: pointer;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  background-color: #fff;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  background-color: #fff;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #413f3d;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  cursor: default;
  background-color: #dce0e3;
  border: solid 1px #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: not-allowed;
  background-color: #dce0e3;
}
/* tab */
.tab-nav {
	display: table;
	overflow: hidden;
	width: 93.75%;
	margin: 0 auto;
}
.tab-nav > ul > li {
	float: left;
	width: 33.333%
}
.tab-nav > ul > li a {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	background-color: #fff;
  border: solid 1px #ddd;
	border-left: 0;
	font-size: 13px;
	color: #3f3e3e;
	text-align: center;
}
.tab-nav > ul > li a:hover,
.tab-nav > ul > li a:active,
.tab-nav > ul > li.active a {
	background-color: #3f3e3e;
	font-weight: 400;
	color: #fff;
}
.tab-nav > ul > li:first-child a {
	border-left: 1px solid #ddd;
}
/* modal */
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
	z-index: 1000;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  height: 100%;
}
.modal-content {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-30%);
  -ms-transform: translate(-50%,-30%);
  -moz-transform: translate(-50%,-30%);
  -o-transform: translate(-50%,-30%);
  -webkit-transform: translate(-50%,-30%);
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
	width: 93.75%;
	max-width: 500px;
	margin: 0 auto;
	z-index: 1010;
}
.modal-content .module-place{
  height: 600px;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  filter: alphar(opacity=50);
	z-index: 1005;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  overflow: hidden;
  padding: 40px 20px 15px 20px;
	text-align: center;
}
.modal-header .close {
	float: right;
	margin-top: -2px;
}
.modal-header .close span {
	display: none;
}
.modal-title {
	font-size: 18px;
	font-weight: 400;
}
.modal-alert {
	float: none;
}
.modal-footer {
  padding: 0;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-footer .btn-block .btn{
  height: 50px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  background-color: #413f3d;
  border: solid 1px #413f3d;
}
.modal-footer .btn-block .btn-default{
  color: #fff;
	background-color: #9a9a9a;
}
.modal-footer .btn-group .btn{
  float: left;
	width: 50%;
	height: 50px;
	font-size: 16px;
}
.modal-footer .btn-group .btn:first-child{
  border-left: 0;
}
.modal-footer .btn-group .btn:last-child{
  border-right: 0;
}
.modal-body {
  position: relative;
  padding: 15px 30px 40px 30px;
  font-size: 13px;
	color: #6e6c6b;
	text-align: center;
	line-height: 1.4;
}
.modal-body .form-group{
	max-width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}
.modal-body .form-group .form-control{
	width: 100%;
	border: solid 1px #ddd;
	text-align: center;
}
.modal-body .credit-type .credit-info{
	position: relative;
	max-height: 300px;
	padding: 20px;
	overflow: hidden;
  overflow-y: scroll;
	background-color: #f1f1f1;
	font-size: 12px;
	line-height: 1.4;
}
.modal-body .table tr td{
	font-size: 14px;
}
.modal-upper{
	z-index: 1050 !important;
}
/* wrap */
.wrap {
	width: 100%;
}
/* header */
.header {
	width: 100%;
}
.header .h-top {
	display: none;
}
.header .h-gnb {
	position: relative;
	height: 40px;
	background-color: #fff;
	border-bottom: solid 1px #dce0e3;
	z-index: 20;
}
.header .h-gnb .h-gnb-wrap{
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.header .h-gnb .h-gnb-wrap h1 {
	display: block;
	position: relative;
	width: 70%;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	z-index: 25;
}
.header .h-gnb .h-gnb-wrap .btn-logo {
	display: none;
	position: relative;
	width: 85px;
	height: 27px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
	background: url('../images/logo_trebit.png') no-repeat center;
	background-size: 85px 27px;
}
.header .h-gnb .h-gnb-wrap .btn-logo span {
	display: none;
}
.header .h-gnb .h-gnb-wrap h1 strong.title{
	overflow: hidden;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: #413f3d;
}
.header .h-gnb .h-gnb-wrap .h-nav {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 30;
}
.header .h-gnb .h-gnb-wrap .h-nav .btn-nav {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-top: 3px;
	margin-left: 3px;
	background: url(../images/icon-nav-sub.png) no-repeat center;
	background-size: 20px 15px;
}
.header .h-gnb .h-gnb-wrap .h-nav .btn-nav span {
	display: none;
}
.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner {
	display: none;
}
.header .h-gnb .h-gnb-wrap .h-mbs {
	position: absolute;
	right: 3px;
	top: 0;
	z-index: 25;
}
.header .h-gnb .h-mbs .btn-lgn {
	display: inline-block;
  width: 35px;
  height: 38px;
  background: url(../images/icon-coin.png) no-repeat center;
  background-size: 24px 21px;
  background-position: 7px 10px;
}
.header .h-gnb .h-mbs .btn-lgn span {
	display: none
}
.header .h-gnb .h-mbs .h-mbs-inner{
	display: none;
}
.header .h-gnb-sub {
	position: relative;
	background-color: #fff;
	text-align: center;
	z-index: 10;
}
.header .h-gnb-sub .h-sub{
	margin: 0 auto;
	text-align: center;
}
.header .h-gnb-sub .h-sub.common-sub{
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	border-bottom: solid 4px #333;
}
.header .h-gnb-sub .common-sub ul li{
	float: left;
	width: 25%;
	display: inline-block;
}
.header .h-gnb-sub .common-sub ul li a{
	width: 100%;
	display: inline-block;
	padding: 12px 5px;
	text-align: center;
	font-size: 12px;
}
.header .h-gnb-sub .common-sub ul li a:active,
.header .h-gnb-sub .common-sub ul li.active a{
	font-weight: 600;
  background: url(../images/img-arrow-up.png) no-repeat bottom center;
  background-size: 20px 10px;
  background-position: 50% 32px;
}
.header .h-gnb-sub .trade-sub{
	position: relative;
	width: 100%;
	border-bottom: solid 4px #333;
}
.header .h-gnb-sub .trade-sub .swiper-menu{
	overflow: hidden;
}
.header .h-gnb-sub .trade-sub .swiper-menu ul li{
	float: left;
}
.header .h-gnb-sub .trade-sub .swiper-menu ul li a{
	position: relative;
	display: inline-block;
	padding: 12px 10px;
	font-size: 12px;
	font-weight: 400;
}
.header .h-gnb-sub .trade-sub .swiper-menu ul li a:active,
.header .h-gnb-sub .trade-sub .swiper-menu ul li.active a{
	font-weight: 600;
	background: url('../images/img-arrow-up.png') no-repeat bottom center;
	background-size: 20px 10px;
	background-position: 50% 32px;
}
.header .h-gnb-sub .trade-sub .swiper-menu .btn-open{
	float: right;
}
.header .h-gnb-sub .trade-sub .swiper-menu .btn-open button{
	width: 45px;
	height: 35px;
	border: none;
	background: url(../images/icon-arrow-down3.png) no-repeat center;
	background-size: 23px 12px;
  background-position-y: 13px;
}
.header .h-gnb-sub .trade-sub .trade-sub-list{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #fff;
	z-index: 15;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .head{
	width: 100%;
  overflow: hidden;
  border-bottom: solid 1px #ccc;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .head b{
	float: left;
  padding: 10px;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .head .btn-close{
	float: right;
  transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.header .h-gnb-sub .trade-sub .trade-sub-list .head .btn-close button{
	width: 45px;
	height: 35px;
	border: none;
	background: url(../images/icon-arrow-down3.png) no-repeat center;
	background-size: 23px 13px;
  background-position: 12px 13px;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .body{
	text-align: left;
	max-height: 300px;
	overflow: hidden;
	overflow-y: auto;
	border-bottom: solid 4px #333;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .body div ul li{
	width: 100%;
	border-bottom: solid 1px #dce0e3;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .body div ul li:last-child{
	border-bottom: 0;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .body div ul li a{
	display: block;
	padding: 10px 20px;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .body div ul li a i{
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-right: 5px;
	vertical-align: middle;
	background-size: 100%;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .body div ul li a span{
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	color: #a4a4a4;
	vertical-align: middle;
}
.header .h-gnb-sub .trade-sub .trade-sub-list .body div ul li a span b{
	font-weight: 600;
	color: #413f3d;
}
.header .h-gnb .trade-coin {
	position: absolute;
	right: 0;
	top: 39px;
	width: 310px;
	padding: 0;
	background-color: #fff;
	border: solid 1px #2d2b2b;
	font-size: 12px;
	z-index: 30;
}
.header .h-gnb .trade-coin::before {
	content: "";
	display: inline-block;
	position: absolute;
	top: -10px;
	right: 10px;
	width: 18px;
	height: 11px;
	background: url('../images/img-pointer.png') no-repeat left center;
}
.header .h-gnb .trade-coin .my-coin{
	width: 100%;
	overflow: hidden;
}
.header .h-gnb .trade-coin .my-coin div{
	float: left;
	width: 40%;
	height: 65px;
	padding: 14px 10px 14px 13px;
	border-left: solid 1px #2d2b2b;
	border-bottom: solid 1px #2d2b2b;
	font-size: 13px;
	text-align: left;
}
.header .h-gnb .trade-coin .my-coin div:first-child{
	width: 60%;
	border-left: 0;
}
.header .h-gnb .trade-coin .my-coin div label{
	display: block;
	width: 100%;
	height: 18px;
}
.header .h-gnb .trade-coin .my-coin div span{
	display: inline-block;
}
.header .h-gnb .trade-coin .my-coin div span b{
	display: inline-block;
	max-width: 127px;
	font-size: 16px;
	line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: text-top;
}
.header .h-gnb .trade-coin .my-coin div:last-child span b{
	max-width: 110px;
}
.header .h-gnb .trade-coin .my-coin-detail{
	padding: 20px 15px;
}
.header .h-gnb .trade-coin .my-coin-detail .table tr th,
.header .h-gnb .trade-coin .my-coin-detail .table tr td{
	padding: 5px;
	font-size: 12px;
	text-align: right;
}
.header .h-gnb .trade-coin .my-coin-detail .table tbody tr th,
.header .h-gnb .trade-coin .my-coin-detail .table tbody tr td{
	padding: 7px 3px;
	border-bottom: solid 1px #ccc;
}
.header .h-gnb .trade-coin .my-coin-detail .table tbody tr td,
.header .h-gnb .trade-coin .my-coin-detail .table tfoot tr td{
	text-align: right;
}
.header .h-gnb .trade-coin .my-coin-detail .table thead tr th{
	padding-top: 0;
	border-bottom: solid 2px #413f3d;
	color: #999;
}
.header .h-gnb .trade-coin .my-coin-detail .table tbody tr th{
	font-weight: 500;
}
.header .h-gnb .trade-coin .my-coin-detail .table tfoot tr th,
.header .h-gnb .trade-coin .my-coin-detail .table tfoot tr td{
	color: #999;
}
.header .h-gnb .trade-coin .my-coin-detail .table tfoot tr td span{
	font-weight: 600;
	color: #413f3d;
}
.header .h-gnb .trade-coin .my-coin-detail .table tbody tr:last-child th,
.header .h-gnb .trade-coin .my-coin-detail .table tbody tr:last-child td{
	border-bottom: 0;
}
.header .h-gnb .trade-coin .my-coin-detail .table tfoot tr:first-child th,
.header .h-gnb .trade-coin .my-coin-detail .table tfoot tr:first-child td{
	padding-top: 10px;
	border-top: solid 2px #413f3d;
}
.header .h-gnb .trade-coin .my-coin-btn{
	width: 100%;
}
.header .h-gnb .trade-coin .my-coin-btn button{
	float: left;
	width: 60%;
	height: 40px;
	background-color: #413f3d;
	font-size: 14px;
	color: #fff;
}
.header .h-gnb .trade-coin .my-coin-btn button:first-child{
	width: 40%;
	border-right: solid 1px #fff;
}
.header .h-gnb .trade-coin .my-coin-btn button:last-child{
	float: right;
}
/* mobile lnb */
.m-lnb-wrap .bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  opacity: 0.6;
  filter: opacity(alphar=60);
}
.m-lnb {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 320px;
	width: 81.25%;
  background-color: #fff;
  z-index: 110;
}
.m-lnb .m-lnb-header {
  position: relative;
  width: 100%;
  height: 70px;
}
.m-lnb .m-lnb-header .m-lnb-logo {
  position: absolute;
  top: 30px;
  left: 20px;
  display: inline-block !important;
  width: 75px !important;
  height: 21px !important;
  margin: 0 auto;
  text-align: center;
  background: url(../images/logo_trebit.png) no-repeat center;
  background-size: 69px;
	cursor: pointer;
	z-index: 120;
}
.m-lnb .m-lnb-header .m-lnb-logo span {
  display: none;
}
.m-lnb .m-lnb-header .btn-close {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 40px;
  height: 40px;
	background: url('../images/icon-close.png') no-repeat center;
	background-size: 22px 21px;
	z-index: 120;
}
.m-lnb .m-lnb-header .btn-close span{
	display: none;
}
.m-lnb .m-lnb-header .btn-lang{
	position: fixed;
	left: 25px;
	bottom: 25px;
	font-size: 11px;
	z-index: 120;
}
.m-lnb .m-lnb-header .btn-lang i{
	display: inline-block;
	float: right;
	margin-left: 5px;
	font-size: 14px;
	color: #999;
}
.m-lnb .m-lnb-body .m-lnb-content {
  width: 100%;
	overflow: hidden;
	padding: 10px 0 20px 20px;
}
.m-lnb .m-lnb-body .m-lnb-content .login-list{
	margin: 0 auto;
}
.m-lnb .m-lnb-body .m-lnb-content .login-list li{
	display: inline-block;
	float: left;
	background: url('../images/line.png') no-repeat left;
	background-size: 1px 10px;
	background-position: 0 13px;
	vertical-align: middle;
}
.m-lnb .m-lnb-body .m-lnb-content .login-list li:first-child{
	background: none;
}
.m-lnb .m-lnb-body .m-lnb-content .login-list li a{
	display: inline-block;
	padding: 10px;
	font-size: 12px;
}
.m-lnb .m-lnb-body .m-lnb-content .login-list li.pull-right a{
	padding-top: 10px;
}
.m-lnb .m-lnb-footer {
  width: 100%;
}
.m-lnb .m-lnb-footer ul li {
  display: inline-block;
  width: 100%;
  border-top: solid 1px #dce0e3;
}
.m-lnb .m-lnb-footer ul li:last-child {
  border-bottom: solid 1px #dce0e3;
}
.m-lnb .m-lnb-footer ul li a {
  display: inline-block;
	width: 100%;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}
.m-lnb .m-lnb-footer ul li.active a,
.m-lnb .m-lnb-footer ul li a:hover,
.m-lnb .m-lnb-footer ul li a:active {
	padding-left: 20px;
  font-weight: 500;
  border-left: 5px solid #ab7637;
}
/* footer */
.footer {
	clear: both;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	background-color: #fff;
 	border-top: 1px solid #e4e2e2;
}
.footer .f-wrap{
	margin: 0 auto;
}
.footer .f-wrap .f-top {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.footer .f-wrap .f-top .f-top-link ul li {
	background: url('../images/line.png') no-repeat left center;
	background-size: 1px 7px;
	text-align: center;
}
.footer .f-wrap .f-top .f-top-link ul li a {
	display: inline-block;
	padding: 5px 2px 5px 7px;
	font-size: 10px;
	font-weight: 400;
  color: #424955;
	text-align: center;
}
.footer .f-wrap .f-top .f-top-link ul li:first-child {
	background: none;
}
.footer .f-wrap .f-top .f-top-link ul li:first-child a{
	padding-left: 0;
}
.footer .f-wrap .f-top .f-top-link ul li:last-child a{
	padding-right: 0;
}
.footer .f-wrap .f-info {
	width: 93.75%;
	max-width: 360px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
}
.footer .f-wrap .f-info .f-info-pc{
	display: none;
}
.footer .f-wrap .f-info .f-info-mob ul li {
	padding: 0 5px;
	background: url('../images/line2.png') no-repeat right center;
	background-size: 1px 7px;
}
.footer .f-wrap .f-info ul li:last-child{
	background: none;
}
.footer .f-wrap .f-info ul li, .footer .f-wrap .f-adr {
	font-size: 10px;
	text-align: center;
	color: #283140;
}
.footer .f-wrap .f-logo {
	display: none;
}
.footer .f-wrap .f-info .f-adr {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.footer .f-wrap .f-info .f-cpr {
	padding: 15px 0;
}
.footer .f-wrap .f-info .f-cpr p {
	font-size: 10px;
	text-transform: uppercase;
}
.footer .f-wrap .f-top ul li, .footer .f-wrap .f-info ul li {
	display: inline-block;
}
/* container */
.container {
	overflow: hidden;
	width: 100%;
	min-width: 320px;
	padding: 0;
	background-color: #f1f1f1;
}
.content {
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
	background-color: #fff;
  border-top: solid 1px #dce0e3;
	border-bottom: solid 1px #dce0e3;
}
.content:last-child {
	margin-bottom: 0;
}
.content > div {
	padding: 0;
}
.content .content-right{
	padding: 30px;
	border-top: solid 1px #dce0e3;
	font-size: 12px;
	color: #666;
}
@media (min-width: 768px) {
	.btn-md, .btn-md > button {
		padding: 12px 16px;
		font-size: 16px;
	}
	.btn-lg, .btn-group-lg > .btn{
		height: 50px;
	}
	.form-control {
		height: 50px;
		font-size: 16px;
		padding: 7px 15px 8px 15px;
	}
	.input-group-btn button, .input-group-btn > .btn {
		height: 50px;
		font-size: 14px;
		padding: 10px 10px 12px 10px;
	}
	.input-group-time .input-time{
		position: absolute;
		right: 10px;
		top: 16px;
	}
	.pagination > li > a,
	.pagination > li > span {
		font-size: 14px;
	}
	.modal-header {
	  overflow: hidden;
	  padding: 60px 30px 15px 30px;
		text-align: center;
	}
	.modal-header .close {
	 margin-top: -2px;
	 float: right;
	}
	.modal-title {
	 font-size: 25px;
	}
	.modal-alert {
	 float: none;
	}
	.modal-footer .btn + .btn {
	  margin-bottom: 0;
	}
	.modal-footer .btn-block + .btn-block {
	  margin-left: 0;
	}
	.modal-footer .btn-block .btn{
	  height: 60px;
	  font-size: 18px;
	}
	.modal-body{
		font-size: 14px;
		padding: 15px 30px 60px 30px;
	}
	.modal-body .form-group .form-control{
		height: 50px;
		border: solid 2px #ddd;
	}
	.modal-body .info-type{
		width: 81.25%;
		margin: 0 auto;
	}
	.modal-body .credit-type .credit-info{
		font-size: 14px;
	}
	.tab-nav{
		width: 100%;
	}
	.tab-nav > ul > li a {
		padding: 15px;
		font-size: 16px;
	}
	.panel .panel-heading {
		overflow: hidden;
		padding: 40px 50px 20px 50px;
	}
	.panel .panel-heading .panel-title h2{
		font-size: 22px;
	}
	.panel .panel-heading small{
		font-size: 14px;
	}
	.panel .panel-body {
		padding: 20px 60px;
	}
	.panel-form .panel-footer {
		padding: 15px 60px 40px 60px;
	}
	.panel-form .panel-footer .btn-block + .text-info {
		padding-top: 30px;
		font-size: 14px;
		line-height: 1.4;
	}
	.table-no-data {
		font-size: 14px;
	}
	.table-line thead tr th{
		padding: 15px 10px;
		font-size: 14px;
		font-weight: 400;
	}
	.table-line tbody tr th,
	.table-line tbody tr td{
		font-size: 12px;
	}
	.table-line .table-responsive .table tbody tr th,
	.table-line .table-responsive .table tbody tr td{
		padding: 18px 10px;
	}
	.header .h-top {
		display: block;
		height: 30px;
		background-color: #fff;
		border-bottom: solid 1px #dce0e3;
		font-size: 12px;
		color: #333;
	}
	.header .h-top .h-top-wrap{
		position: relative;
		width: 93.75%;
		max-width: 1200px;
		margin: 0 auto;
	}
	.header .h-top .pull-left {
		padding: 7px 0;
	}
	.header .h-top .pull-left .h-coin {
		display: inline-block;
		margin-right: 10px;
	}
	.header .h-top .pull-right ul > li{
		float: left;
		background: url('../images/line3.png') no-repeat left center;
		background-size: 1px 11px;
	}
	.header .h-top .pull-right ul > li a{
		display: inline-block;
		padding: 7px;
		font-size: 11px;
	}
	.header .h-top .pull-right ul > li:first-child{
		background: none;
	}
	.header .h-top .pull-right ul > li:last-child a{
		padding-right: 0;
	}
	.header .h-top .pull-right ul > li:last-child a i{
		margin-left: 5px;
		font-size: 13px;
	}
	.header .h-top .pull-right .lang .lang-global {
		display: inline-block;
		padding: 7px;
		padding-right: 0;
	}
	.header .h-top .pull-right .lang .lang-select {
		position: absolute;
		top: 5px;
		right: 0;
		width: 90px;
		z-index: 30;
	}
	.header .h-top .pull-right .lang .lang-select ul li {
		width: 100%;
		border-bottom: solid 1px #999999;
		background-color: #707070;
	}
	.header .h-top .pull-right .lang .lang-select ul li:last-child{
		border-bottom: 0;
	}
	.header .h-top .pull-right .lang .lang-select ul li a{
		display: inline-block;
		width: 100%;
		padding: 10px 13px;
		color: #fff;
	}
	.header .h-top .pull-right .lang .lang-select ul li a i{
		margin-left: 5px;
	}
	.header .h-top .pull-right .lang .lang-select ul li:first-child a{
		padding-top: 5px;
	}
	.header .h-gnb {
		height: 60px;
		border-bottom: solid 1px #dce0e3;
	}
	.header .h-gnb .h-gnb-wrap{
		width: 93.75%;
		max-width: 1200px;
		margin: 0 auto;
	}
  .header .h-gnb .h-gnb-wrap h1 {
		position: relative;
		display: inline-block;
		width: 85px;
		height: 60px;
		padding: 0;
		vertical-align: middle;
	}
	.header .h-gnb .h-gnb-wrap h1 strong.title{
		display: none;
	}
	.header .h-gnb .h-gnb-wrap .btn-logo {
		display: inline-block;
		width: 85px;
		height: 60px;
		margin-top: 0;
		background-size: 85px 27px;
	}
  .header .h-gnb .h-gnb-wrap .h-nav {
		left: 125px;
		display: inline-block;
		vertical-align: middle;
	}
  .header .h-gnb .h-gnb-wrap .h-nav .btn-nav{
		display: none;
	}
  .header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner {
		display: inline-block;
		z-index: 100;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul {
		display: inline-block;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li {
		position: relative;
		float: left;
		padding: 0 3px;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li a {
		display: inline-block;
		padding: 20px 15px;
		font-size: 16px;
		font-weight: 400;
		color: #333;
		text-align: center;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.active > a,
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li:active > a,
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li:hover > a {
		font-weight: 600;
		color: #c8a063;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li .h-sub {
		display: none;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.active .h-sub{
		display: block;
		position: absolute;
		top: 60px;
		margin: 0 auto;
		overflow: hidden;
		z-index: 200;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.h-nav-trade .h-sub {
		left: 7px;
		width: 800px;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.h-nav-wallet .h-sub {
		left: -70px;
		width: 800px;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.h-nav-detail .h-sub {
		left: -168px;
		width: 800px;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.h-nav-cs .h-sub {
		left: -260px;
		width: 800px;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.h-nav-account > a {
		display: none !important;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li.h-nav-account.active .h-sub {
		display: block;
		left: -357px;
		width: 800px;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li .h-sub > ul > li {
		float: left;
		display: inline-block;
		padding-right: 3px;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li .h-sub ul li > a {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 16px 10px;
		font-size: 14px;
		color: #fff;
		text-align: center;
	}
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li .h-sub > ul > li > a:hover,
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li .h-sub ul > li > a:active,
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li .h-sub ul > li.active a {
		font-weight: 600;
		color: #d5994f;
	}
	.header .h-gnb .h-mbs{
		top: 0;
	}
  .header .h-gnb .h-mbs .btn-lgn {
		display: none;
	}
	.header .h-gnb .h-mbs .h-mbs-inner{
		display: block;
		margin-top: 13px;
	}
	.header .h-gnb .h-mbs .h-mbs-inner ul li{
		float: left;
		background: url('../images/line3.png') no-repeat left center;
		background-size: 1px 11px;
	}
	.header .h-gnb .h-mbs .h-mbs-inner ul li a{
		display: inline-block;
		padding: 10px;
		font-size: 12px;
		font-weight: 400;
	}
	.header .h-gnb .h-mbs .h-mbs-inner ul li:first-child{
		background: none;
	}
	.header .h-gnb .h-mbs ul li:last-child a{
		padding-right: 0;
	}
	.header .h-gnb .h-mbs ul li:last-child a i{
		float: right;
		margin-top: -4px;
		margin-left: 5px;
		font-size: 14px;
	}
	.header .h-gnb .trade-coin {
		top: 50px;
	}
	.header .h-gnb .trade-coin::before {
		right: 35px;
	}
	.header .h-gnb-sub {
		width: 100%;
		background-color: #3f3a39;
		border-bottom: 0;
	}
	.header .h-gnb-sub .h-sub.common-sub{
		position: relative;
		width: 93.75%;
		max-width: 1200px;
		margin: 0 auto;
		padding-left: 130px;
		background-color: #3f3a39;
		border-bottom: 0;
	}
	.header .h-gnb-sub .h-sub.common-sub ul{
		position: relative;
	}
	.header .h-gnb-sub .h-sub.common-sub ul li{
		width: auto
	}
	.header .h-gnb-sub .h-sub.common-sub ul li a{
		padding: 17px 15px;
		font-size: 14px;
		color: #fff;
		background: none;
	}
	.header .h-gnb-sub .h-sub.common-sub ul li a:hover,
	.header .h-gnb-sub .h-sub.common-sub ul li a:active,
	.header .h-gnb-sub .h-sub.common-sub ul li.active a{
		font-weight: 500;
		color: #c8a063;
	}
	.header .h-gnb-sub .trade-sub{
		border-bottom: 0;
	}
	.header .h-gnb-sub .trade-sub .swiper-menu{
		overflow: hidden;
		width: 93.75%;
		max-width: 1200px;
		margin: 0 auto;
		padding-left: 130px;
	}
	.header .h-gnb-sub .trade-sub .swiper-menu ul li a{
		padding: 17px 15px;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
	}
	.header .h-gnb-sub .trade-sub .swiper-menu ul li a:hover,
	.header .h-gnb-sub .trade-sub .swiper-menu ul li a:focus,
	.header .h-gnb-sub .trade-sub .swiper-menu ul li.active a{
		font-weight: 600;
		color: #d5994f;
		background: none;
	}
	.header .h-gnb-sub .trade-sub .swiper-menu .btn-open{
		display: none;
	}
	.header .h-gnb-sub .trade-sub .trade-sub-list{
		display: none;
	}
	.footer {
		padding-top: 0;
	}
	.footer .f-wrap{
		width: 100%;
	}
	.footer .f-wrap .f-top {
		width: 100%;
	}
	.footer .f-wrap .f-top .f-top-link{
		position: relative;
		width: 93.75%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
	}
	.footer .f-wrap .f-top .f-top-link  ul li{
		background-size: 1px 14px;
	}
  .footer .f-wrap .f-top .f-top-link ul li a {
		width: 100%;
		padding: 12px 30px;
		font-size: 13px;
	}
	.footer .f-wrap .f-info .f-info-mob{
		display: none;
	}
	.footer .f-wrap .f-info .f-info-pc{
		display: block;
		position: relative;
		width: 93.75%;
		max-width: 1200px;
		margin: 0 auto;
	}
	.footer .f-wrap .f-info {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin-top: 0;
		padding: 5px 0;
		padding-left: 0;
		text-align: left;
		border-top: 1px solid #e7e5e5;
		/*border-bottom: 1px solid #e7e5e5;*/
	}
	.footer .f-wrap .f-info .f-info-pc .f-logo {
		display: inline-block;
		position: absolute;
		top: 40px;
		left: 0;
		width: 62px;
		height: 18px;
		background: url('../images/logo_trebit.png') no-repeat left top;
		background-size: 100%;
	}
	.footer .f-wrap .f-info .f-info-pc .f-logo span{
		display: none;
	}
	.footer .f-wrap .f-info .f-info-pc .f-info-adr{
		width: 80%;
		margin-left: 80px;
		padding: 0;
		padding-top: 20px;
	}
	.footer .f-wrap .f-info .f-info-pc .f-info-adr ul {
		display: inline-block;
	}
	.footer .f-wrap .f-info .f-info-pc .f-info-adr ul li {
		float: left;
		padding: 0 10px;
		background: url('../images/line3.png') no-repeat right center;
		background-size: 1px 10px;
		font-size: 12px;
		line-height: 1.6;
	}
	.footer .f-wrap .f-info .f-info-pc .f-info-adr ul li:last-child{
		background: none;
	}
  .footer .f-wrap .f-info .f-info-pc .f-info-adr .f-cpr {
		padding: 0;
		padding-left: 10px;
		display: block;
	}
	.footer .f-wrap .f-info .f-cpr p {
		font-size: 12px;
	}
	.footer .f-wrap .f-info .f-info-pc .f-cs{
		margin-top: 5px;
		margin-left: 80px;
		padding-bottom: 20px;
	}
	.footer .f-wrap .f-info .f-info-pc .f-cs li{
		padding: 0 10px;
		font-size: 12px;
		background: url('../images/line3.png') no-repeat right center;
		background-size: 1px 10px;
	}
	.footer .f-wrap .f-info .f-info-pc .f-cs li:last-child{
		background: none;
	}
	.container{
		padding: 40px 0;
	}
	.content-head{
		width: 100%;
		margin-bottom: 20px;
	}
	.content-head .content-title h2{
		font-size: 20px;
	}
	.content {
		position: relative;
		border: solid 1px #dce0e3;
	}
	.content .content-left {
		width: 55%;
	}
	.content .content-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 45%;
		height: 100%;
		padding: 50px;
		border-top: 0;
		border-left: solid 1px #dce0e3;
		font-size: 13px;
	}
  .modal-footer .btn-group .btn{
    float: left;
  	width: 50%;
    height: 60px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
	.header .h-gnb .h-gnb-wrap .h-nav .h-nav-inner > ul > li a {
		padding: 20px;
	}
	.footer .f-wrap .f-info .f-info-pc .f-info-adr{
		padding: 20px 0;
	}
	.footer .f-wrap .f-info .f-info-pc .f-info-adr ul li:nth-child(5){
		background: none;
	}
	.footer .f-wrap .f-info .f-info-pc .f-cs{
		position: absolute;
		top: 10px;
		right: 0;
		width: 210px;
		margin-top: 0;
		padding: 9px 0 12px 30px;
		border-left: solid 1px #e7e5e5;
	}
	.footer .f-wrap .f-info .f-info-pc .f-cs ul li{
		padding: 0;
		background: none;
	}
	.footer .f-wrap .f-info .f-info-pc .f-cs ul li:first-child{
		font-size: 18px;
	}
}
/* confirm */
.confirm{
	background-color: #fff;
}
.confirm  .panel .panel-body .form-group{
  padding-top: 20px;
}
.confirm .panel .panel-body .form-group:first-child{
  padding-top: 0;
}
.confirm .panel .panel-body .form-group label{
  font-size: 14px;
}
.confirm .panel .panel-body .form-group .form-control{
  margin-top: 5px;
}
.confirm .panel .panel-body .box-birth{
  position: relative
}
.confirm .panel .panel-body .box-birth .birth-ex{
  position: absolute;
  top: 23px;
  right: 5px;
  color: #999;
}
.confirm .panel .panel-footer{
  padding-top: 0;
  border: none;
}
.confirm-auth{
	width: 100%;
	height: 100vh;
	text-align: center;
	background-color: #f1f1f1;
}
.confirm-auth div{
	width: 100%;
}
.confirm-auth div p{
	font-size: 16px;
	color: #333;
	line-height: 1.4;
}
.confirm-auth div .btn-block{
	width: 220px;
	margin: 0 auto;
	margin-top: 30px;
}
/* event banner */
.event-bnr{
	background: none;
	width: 100%;
	max-width: 310px;
}
.event-bnr .modal-header{
	overflow: visible;
	position: relative;
	padding: 10px;
}
.event-bnr .modal-header .close{
	position: absolute;
	right: 0;
	top: 30px;
	z-index: 1050;
}
.event-bnr .modal-header .close a{
	display: inline-block;
	width: 30px;
	height: 31px;
	background: url('../images/icon-close-wh.png') no-repeat center;
	background-size: 100%;
}
.event-bnr .modal-body{
	padding: 0;
}
.event-bnr .modal-body .event-bnr-content{
	position: relative;
	margin: 0 auto;
}
.event-bnr .modal-body .event-bnr-content img.pc{
	display: none;
}
.event-bnr .modal-body .event-bnr-content a{
	position: absolute;
	left: 65px;
	display: inline-block;
	width: 152px;
	height: 32px;
	z-index: 1050;
}
.event-bnr .modal-body .event-bnr-content a span{
	display: none;
}

.event-bnr .modal-body .event-bnr-content a .no-img{
	width: 152px;
	height: 32px;
}
.event-bnr .modal-body .event-bnr-content .event-link1{
	top: 128px;
}
.event-bnr .modal-body .event-bnr-content .event-link2{
	top: 310px;
}
.event-bnr .modal-body .event-bnr-content .event-link3{
	top: 503px;
}
.event-bnr .modal-footer{
	position: relative;
	padding-right: 30px;
	text-align: right;
}
.event-bnr .modal-footer .form-inline label{
	font-weight: 500;
	color: #fff;
}
.event-bnr .modal-footer .form-inline .option-txt{
	vertical-align: middle;
}
.event-bnr .modal-footer .form-inline .checkbox{
	margin: 0 auto;
}
@media (min-width: 992px){
	.event-bnr {
		width: 1234px;
		max-width: 1234px;
		margin: 0 auto;
	}
	.event-bnr .modal-header .close{
		top: 120px;
    right: 45px;
    float: none;
    margin-top: 0;
	}
	.event-bnr .modal-header .close a{
		width: 50px;
    height: 51px;
	}
	.event-bnr .modal-body .event-bnr-content{
		width: 1234px;
	}
	.event-bnr .modal-body .event-bnr-content img.mob{
		display: none;
	}
	.event-bnr .modal-body .event-bnr-content img.pc{
		display: block;
	}
	.event-bnr .modal-body .event-bnr-content a{
		position: absolute;
		top: 470px !important;
		display: inline-block;
		width: 185px;
		height: 50px;
	}
	.event-bnr .modal-body .event-bnr-content a .no-img{
		width: 185px;
		height: 50px;
	}
	.event-bnr .modal-body .event-bnr-content .event-link1{
		left: 225px;
	}
	.event-bnr .modal-body .event-bnr-content .event-link2{
		left: 545px;
	}
	.event-bnr .modal-body .event-bnr-content .event-link3{
		left: 865px;
	}
	.event-bnr .modal-footer .form-inline{
		position: absolute;
		top: -85px;
		right: 110px;
	}
}
