@charset "UTF-8";
.tab-nav{
	margin: 20px auto;
}
/* 입출금내역 */
.detail_inout{
	width: 100%;
	overflow: hidden;
	max-width: 1078px;
	margin: 0 auto;
}
.detail_inout .content .panel .panel-body{
	padding: 0;
}
.detail_inout .content .panel .panel-body .table-responsive > table > tbody > tr > td > .table-responsive{
	max-height: 449px;
}
/* 내지갑현황 */
.mywallet{}
.mywallet-board .total{
	padding: 48px 30px;
}
.mywallet-board .money{}
.mywallet-board .total label{
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 500;
	color: #000000;
}
.mywallet-board .total span{
	font-size: 14px;
	color: #666666;
}
.mywallet-board .total span strong{
	font-size: 40px;
  font-weight: 900;
  color: #d88722;
}
.mywallet-board .money > div{
	overflow: hidden;
	padding: 34px 30px;
	border-top: solid 1px #dce0e3;
}
.mywallet-board .money > div > label{
	float: left;
	font-size: 16px;
}
.mywallet-board .money > div > span{
	float: right;
	text-align: right;
	font-size: 14px;
}
.mywallet-board .money > div > span > b{
	font-size: 18px;
	font-weight: 600;
}
.mywallet-table .table{
	min-width: 600px;
}
.mywallet-table .table tbody tr td button{
	margin-right: 5px;
	padding: 5px 12px;
	font-size: 14px;
}
.mywallet-table .table tbody tr td button:last-child{
	margin-right: 0;
}
.money-type {
	text-align: left;
	padding-left: 5% !important;
}
.money-type i{
	display: inline-block;
	overflow: hidden;
	width: 27px;
	height: 27px;
	margin-right: 25px;
	margin-bottom: 2px;
	border-radius: 100px;
	vertical-align: baseline;
}
.money-type .money-name{
	display: inline-block;
}
.money-type .money-name b,
.money-type .money-name span {
	display: block;
	width: 100%;
	text-align: left;
}
.money-type .money-name b{
	padding-bottom: 5px;
	font-size: 14px;
}
/* 이전 */
.content .panel .panel-heading {
	border-bottom: 0;
}
.content .panel .panel-body {
	padding: 20px 30px;
	font-size: 11px;
}
.form-group {
	position: relative;
	/* margin-bottom: 10px; */
}
.form-group:last-child {
	margin-bottom: 0;
}
.form-group label,
.form-group label + *{
	width: 60%;
	font-size: 14px;
}
.form-group label {
	float:  left;
	margin-bottom: 5px;
}
.form-group .form-text label,
.form-group .form-text label + b,
.form-group label{
	padding: 7px 0;
}
.qr_code {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 30px;
	/* border: 1px dotted #dce0e3; */
}
.qr_code img, .qr_code div img {
	width: 100%;
	height: auto;
}
.content .panel .panel-footer {
	padding: 20px 0;
	border-top: 0;
}
.content .panel .panel-footer .form-wallet-total {
	overflow: hidden;
	margin-bottom: 20px;
}
.content .panel .panel-footer .form-wallet-total .pull-left {
	width: 40%;
	padding-top: 20px;
}
.content .panel .panel-footer .form-wallet-total .pull-left b {
	font-size: 12px;
}
.content .panel .panel-footer .form-wallet-total .pull-right {
	width: 60%;
}
.content .panel .panel-footer .form-wallet-total .pull-right .text-info,
.content .panel .panel-footer .form-wallet-total .pull-right strong {
	display: block;;
	width: 100%;
}
.content .panel .panel-footer .form-wallet-total .pull-right .text-info {
	padding-bottom: 5px;
	font-size: 10px;
}
.content .panel .panel-footer .form-wallet-total .pull-right strong {
	font-size: 18px;
}
.content .panel .panel-footer .form-wallet-total .pull-right strong small {
	font-size: 10px;
}
.content .panel .panel-footer .btn {
	font-size: 14px;
}
.content .warning strong {
	display: inline-block;
	padding-left: 25px;
	background: url('../images/icon-warning.png') no-repeat left center;
	background-size: 18px;
	font-size: 16px;
	color: #000000;
}
.content .warning p,
.content .warning dl {
	margin-top: 15px;
	line-height: 1.4;
}
.content .warning dl dt {
	font-weight: 600;
}
.content .content-center{
	width: 93.75%;
  max-width: 640px;
  margin: 0 auto;
	padding: 30px;
}
.form-wallet .form-group{
	padding-bottom: 10px;
}
.form-wallet .form-group:last-child{
	padding-bottom: 0;
}
.form-wallet .form-group .form-text {
	width: 100%;
	overflow: hidden;
	padding: 10px 0;
}
.form-wallet .form-group .form-text:last-child {
	margin-bottom: 0;
}
.form-wallet .form-group .form-text label {
	float: none;
	width: 50%;
	padding: 0;
}
.form-wallet .form-group .form-text.text-black label {
	color: #000;
}
.form-wallet .form-group .form-text b {
	float: right;
	padding: 0;
	text-align: right;
	font-size: 14px;
	font-weight: 500;
}
.form-wallet .form-group label {
	width: 100%;
	color: #666666;
}
.form-wallet .form-group label small {
	font-size: 11px;
}
.input-group-txt {
	color: #808e9c;
	font-size: 12px;
}
.income-pr .input-group-txt {
	position: absolute;
	top: 28px;
	right: 15px;
	z-index: 10;
}
.income-qrcode > .form-group{
	width: 100%;
	margin-bottom: 50px;
}
.income-qrcode > .form-group > .input-group{
	width: 100% !important;
}
.income-qrcode > .form-group > .input-group .input-group-btn button{
	padding: 12px 15px;
}
.income-qrcode > .form-group > .input-group .form-control{
	height: 40px;
	background-color: #ececec;
	color: #000;
}
.content-right .warning dl {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
.content-right .warning dl dd{
	display: inline-block;
	line-height: 1.4;
	padding-top: 5px;
}
.content-right .warning dl dd:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}
.income .income-adrs{
	padding-bottom: 30px;
	line-height: 1.6;
}
.income .income-adrs b{
	display: inline-block;
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}
.outcome .content .content-left .outcome-wallet .form-group{
	overflow: hidden;
	padding: 20px 30px;
	border-bottom: solid 1px #dfdfdf;
}
.outcome .content .content-left .outcome-wallet .form-group:last-child{
	border-bottom: 0;
}
.outcome .content .content-left .outcome-wallet .form-group .form-text label{
	width: 40%;
	display: inline-block;
	margin: 0;
	padding: 0;
	padding-top: 3px;
}
.outcome .content .content-left .outcome-wallet .form-group .form-text span{
	float: right;
	text-align: right;
	font-size: 14px;
	font-weight: 400;
	color: #666;
}
.outcome .content .content-left .outcome-wallet .form-group .form-text span b{
	line-height: 1;
	font-size: 20px;
}
.outcome .content .content-right{
	padding: 35px 30px;
}
.outcome-pr .input-group-txt {
	position: absolute;
	top: 9px;
	right: 60px;
	z-index: 10;
}
.outcome-ad .input-group-txt {
	position: absolute;
	top: 26px;
	right: 10px;
	z-index: 10;
}
.outcome-wallet{
	padding: 0 !important;
}
.outcome-wallet .form-wallet .form-group .form-text{
	padding: 15px 30px;
	border-bottom: solid 1px #dce0e3;
}
.outcome-wallet .form-wallet .form-group .form-text:first-child{
	padding-top: 30px;
}
.outcome-wallet .form-wallet .form-group .form-text:last-child{
	padding-bottom: 30px;
	border-bottom: 0;
}
.outcome-bank{
	margin-top: 20px;
}
.outcome-bank .content .panel .panel-footer{
	padding: 30px;
	padding-top: 0;
}
.outcome-bank .content .form-wallet .form-group label{
	width: 40%;
}
.outcome-bank .content .form-wallet .form-group .input-group .btn{
	padding: 12px 10px;
	background-color: #7a7a7b;
	border: solid 1px #bbb;
	color: #fff;
}
@media (min-width: 640px) {
	.qr_code {
		margin: 0 auto;
		margin-bottom: 30px;
	}
}
@media (min-width: 768px) {
	.form-group .form-text label, .form-group .form-text label + b, .form-group label{
		padding: 15px 0;
	}
	.container-wallet{
		width: 93.75%;
		max-width: 1080px;
		margin: 0 auto;
	}
	.content {
		margin-bottom: 20px;
	}
	.content .panel .panel-heading {
		border-bottom: 0;
	}
	.content .panel .panel-body {
		padding: 50px;
		font-size: 14px;
	}
	.content .panel .panel-footer {
		border-top: 0;
	}
	.content .content-left .panel .panel-body{
		padding-top: 20px;
		padding-bottom: 0;
	}
	.detail_inout .content .panel .panel-body .table-responsive > table > tbody > tr > td > .table-responsive{
		max-height: 509px;
	}
	.mywallet-board .total{
		float: left;
		padding: 48px 60px;
	}
	.mywallet-board .total label{
		display: block;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 500;
		color: #000000;
	}
	.mywallet-board .total span{
		font-size: 14px;
		color: #666666;
	}
	.mywallet-board .total span strong{
		font-size: 40px;
	  font-weight: 900;
	  color: #d88722;
	}
	.mywallet-board .money{
		float: right;
		width: 40%;
	}
	.mywallet-board .money > div{
		overflow: hidden;
		padding: 34px 40px;
		border-left: solid 1px #dce0e3;
		border-top: solid 1px #dce0e3;
	}
	.mywallet-board .money > div:first-child{
		border-top: 0;
	}
	.mywallet-board .money > div > label{
		float: left;
		font-size: 16px;
	}
	.mywallet-board .money > div > span{
		float: right;
		text-align: right;
		font-size: 14px;
	}
	.mywallet-board .money > div > span > b{
		font-size: 18px;
		font-weight: 600;
	}
	.content-wait .panel .panel-heading{padding:25px 30px;}
	.content-wait .panel .panel-heading small{padding-top:5px;}
	.content-wait .panel .panel-body{padding: 0;}
	.content .panel .panel-body .form-group .input-group .form-control + .input-group-btn button {
		height: 50px;
		padding: 10px 20px 12px 20px;
		font-size: 14px;
	}
	.content .panel .panel-footer .form-wallet-total .pull-left b {font-size: 18px;}
	.content .panel .panel-footer .form-wallet-total .pull-right .text-info {font-size: 12px;}
	.content .panel .panel-footer .form-wallet-total .pull-right strong {font-size: 24px;}
	.content .panel .panel-footer .form-wallet-total .pull-right strong small {font-size: 18px;}

	.content .panel .panel-footer .btn {
		height: 50px;
		padding: 11px 0;
		font-size: 16px;
	}
	.content .content-center{
		padding: 50px;
	}
	.income .content .panel .panel-body .form-group .input-group .form-control + .input-group-btn button {
		height: 50px;
		font-size: 16px;
	}
	.income .content .panel .panel-body .form-wallet .form-group .form-text b {
		padding-top: 6px;
		font-size: 16px;
		font-weight: 500;
	}
	.income .content .content-left{
		min-height: 330px;
	}
	.income .income-adrs{
		max-width: 640px;
		margin: 0 auto;
		text-align: center;
	}
	.income .income-adrs + .btn-block{
		max-width: 360px;
		margin: 0 auto;
	}
	.income .income-adrs + .btn-block button{
		height: 50px;
	}
	.income .income-adrs b{
		padding-bottom: 5px;
		font-size: 18px;
	}
	.income-qrcode > .form-group > .input-group .form-control{
		height: 50px;
	}
	.input-group-txt {font-size: 14px;}
	.outcome-pr .input-group-txt {top: 11px; font-size: 14px;}
	.outcome-ad .input-group-txt {top: 35px;}
	.income-pr .input-group-txt {top: 38px;}
	.outcome-pr .input-group-btn button {height: 40px;padding: 10px 10px 12px 10px;}
	.outcome .content .content-left .outcome-wallet .form-group{
		margin: 0;
		padding: 20px 50px;
	}
	.outcome-wallet .form-wallet .form-group .form-text{
		padding: 20px 50px;
	}
	.outcome-wallet .form-wallet .form-group .form-text:last-child{
		padding-bottom: 20px;
	}

	.outcome .content .content-left .outcome-wallet .form-group .form-text{
	 border-bottom: solid 1px #dfdfdf;
	}
	.outcome .content .content-left .outcome-wallet .form-group .form-text:last-child{
	 border-bottom: 0;
	}
	.outcome .content .content-right{
		padding: 40px 50px;
	}
	.outcome-bank .content .panel .panel-footer{
		padding: 20px 50px 50px 50px;
	}
	.outcome-bank .content .form-wallet .form-group .form-text input,
	.outcome-bank .content .form-wallet .form-group .form-text + *{
		vertical-align: middle;
	}
	.detail_inout .table-responsive > table > tbody > tr > td > .table-responsive{
		max-height: 507px;
	}
}
