@import url(common.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*m_container*/

#m_container {
    background-color: #fff;
    height: auto;
}


/*result*/

.result {
    text-align: center;
}
.result>h3{
    font-size: 18px;
    margin-bottom: 5vw;  
    height: 50px;
    line-height: 50px;
    background-color: #7a6e6e;
    color: #fff;
    font-weight: normal;
}
.result>ul>li{
    float: left;
    width: 33.3%;
    margin: 5vw 0;
}
.result>ul>li>p{
    font-size: 15px;
    margin-bottom: 30px;
}
.r1,.r2{
    border-right: 1px dotted #ccc;
    box-sizing: border-box;
}
.r1>a{
    display: block;
    background: url(../images/result_read.png) center center no-repeat;
    background-size: contain;
    width: 75%;
    height: 36vw;
    margin: 0 auto;
}
.r1>a>span{
    line-height: 36vw;
    color: #fff;
    background-color: #1a1616;
    font-size: 4vw;
    padding: 5px;
}
.r2>a{
    display: block;
    background: url(../images/result_ratio.png) center center no-repeat;
    background-size: contain;
    width: 95%;
    height: 36vw;
    margin: 0 auto;
}
.r3>ul>li{
    height: 12vw;
    width: 90%;
    margin: 0 auto;
    background-color: #1a1616;
    transition: 0.65s;
}
.r3>ul>li:last-child{
    border-bottom: 1px solid #1a1616;
}
.r3>ul>li>a{
    color: #fff;
    line-height: 12vw;
    font-size: 16px;
    display: block;
}

/*best*/

.best {
    clear: both;
    padding-top: 50px;
}

.best>h3 {
    letter-spacing: 3px;
    background-color: #7a6e6e;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
}

.b_inner {
    height: 110px;
    overflow: hidden;    
}

.b_inner>ul {
    width: 10000px;
    height: 110px;
}

.b_inner li>img {
    display: block;
    height: 50%;
    margin-top: 25px;
}

.b_inner li>img:nth-of-type(1) {
    float: left;
    margin-left: 10px;
}

.b_inner li>img:nth-of-type(2) {
    float: right;
    margin-right: 10px;
}

.b_inner li {
    float: left;
    width: 100vw;
    max-width: 480px;
    height: 110px;
}

.b_inner li:first-child {
    left: 0;
}

.b_inner li>a {
    display: block;
    width: 100%;
    height: 100%;
}

.rank {
    line-height: 110px;
    font-size: 30px;
    font-family: 'Jeju Gothic', sans-serif;
    padding: 0 7vw;
    float: left;
}

.b_inner li>a>img {
    height: 80%;
    margin-top: 10px;
    float: left;
}

.b_inner li h4 {
    font-size: 14px;
    padding-top: 30px;
    padding-left: 50%;
}

.auth {
    font-size: 12px;
    margin-top: 20px;
    padding-left: 50%;
}

/*recom_all*/
.recom_all{
    position: relative;
    float: left;
    width: 100%;
    background-color: #f2ebdc;
}
.r_a_header{
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 5%;
}
.r_a_header>h3{
    font-size: 18px;
}
.r_a_header>p{
    width: 90%;
    margin-top: 15px;
    line-height: 1.5;
}
.r_all_con{
    width: 90%;
    height: 200px;
    margin: 20px 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid #bdb3a7;
}
.r_all_con>a{
    display: block;
    float: left;
    width: 100px;
}
.r_all_con>h4{
    padding-top: 20px;
    display: block;
}
.r_all_con>h4>a{    
    font-size: 16px;
    margin-left: 10vw;
    font-size: 3vw;
}
.r_all_con>p:nth-of-type(1){
    float: left;
    margin-top: 15px;
    margin-left: 10vw;
}
.r_all_con>p:nth-of-type(2){
    clear: both;
    float: left;
    margin-top: 20px;
}
.r_all_con>p:nth-of-type(2)>a{
    color: #d77b5b;
    padding-top : 10px;
}
.r_all_con>ul{
    float: right;
    padding-right: 5vw;
}
.r_all_con>ul>li{
    float: left;
    padding-left: 17px;
    padding-top : 10px;
}
.r_all_con>ul>li>a{
    display: block;
    height: 35px;
    width: 35px;
    text-indent: -99999px;
    background-size: 90%;
    background-position: center;
}
.wish{
    background: url(../images/ico_wish.png) no-repeat;
}
.grade{
    background: url(../images/ico_grade.png) no-repeat;    
}
.save{
    background: url(../images/ico_save.png) no-repeat;
}
/*con_over 숨기기*/
.con_over{
    display: none;
}
/*more버튼*/
.more{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 40px;
    text-align: center;
    background-color : rgb(64, 48, 46);
    z-index: 100;
    border-radius: 10px 10px 0 0 ;
}
.more>button{
    background: url(../images/bg_more.png) no-repeat;
    background-position: 97% center;
    display: block;
    font-size: 14px;
    width: 100%;
    height: 100%;
    line-height: 43px;
    color: #f2ebdc;
    border: none;
    padding: 0;
    font-family: 'Jeju Gothic', "제주고딕", sans-serif;
}