@charset "utf-8";

/* Reset */

html,
body {
    width: 100%;
    height: 100%
}

html {
    overflow-y: scroll;
    font-size: 10px
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
form,
fieldset,
p,
button,
input {
    margin: 0;
    padding: 0
}

body,
h1,
h2,
h3,
h4,
input,
button {
    font-family: naumgothic, "나눔고딕", arial;
    font-size: 12px;
    color: #444
}

body {
    background-color: #fff5f5;
    *word-break: break-all;
    -ms-word-break: break-all
}

img,
fieldset,
iframe {
    border: 0 none;
    padding: 0
}

li {
    list-style: none
}

input,
select,
button {
    vertical-align: middle
}

img {
    vertical-align: top
}


/*이미지 이후에 쓰는 글자 위치조정*/

i,
em,
address {
    font-style: normal
}


/*기울임 없앰*/

label,
button {
    cursor: pointer
}


/*마우스 올렸을때 커서를 손모양으로 변경해줌*/

button {
    margin: 0;
    padding: 0
}

a {
    color: #222;
    text-decoration: none
}

button * {
    position: relative
}

button img {
    left: -3px;
    *left: auto
}

html:first-child select {
    height: 20px;
    padding-right: 6px
}

option {
    padding-right: 6px
}

hr {
    display: none
}

legend {
    *width: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

header,
footer,
nav,
section,
aside {
    display: block;
}


/* clearfix */

.clearfix {
    *zoom: 1;
}


/*가운데 정렬하면서 집에 들어온 요소를 없앰*/

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


/* Hide */

.blind {
    display: block;
    position: absolute;
    left: 0;
    top: -9999em;
}


/* Skip */

.skip a {
    position: absolute;
    left: 0;
    top: -9999em;
    z-index: 9999;
    display: block;
    width: 100%;
    background-color: #039;
    color: #eee;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
}

.skip a:hover,
.skip a:active,
.skip a:focus {
    top: 0;
}


/*브라우저 실행 시 스킵메뉴 생성*/


/*header, footer 공통 요소*/

a {
    font-family: "나눔고딕" "naumgothic";
}

.sub {
    display: none;
}

.p_center {
    margin: 0 auto;
}


/*header*/

#head:after {
    content: "";
    display: block;
    clear: both;
}

.logo {
    height: 67px;
    width: 100%;
    border-bottom: 1px solid #e5e5e4;
    text-align: center;
    padding-top: 32px;
}

#gnb {
    float: left;
    background: #f2f2f2;
    height: 49px;
    width: 100%;
    min-width: 1140px;
    border-bottom: 1px solid #e5e5e4;
}

.nav {
    width: 1000px;
    position: relative
}

.nav>li {
    float: left;
}

.nav>li>a {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    font-family: "arial";
}

#gnb>.nav>li:hover .sub {
    position: absolute;
    z-index: 500;
    top: 50px;
    display: block;
    background-image: url(../images/bg_opa1.png);
}

.sub>li>a:hover {
    font-weight: bold;
}

.sub>li {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
}

.sub>li>a {
    display: block;
}


/*.nav>li:hover>a{text-indent: -99999px;}*/

.mm1>a {
    width: 209px;
}

#gnb .mm1:hover .sub {
    height: 200px;
    width: 209px;
}

.mm2>a {
    width: 199px;
}

#gnb .mm2:hover .sub {
    height: 400px;
    width: 199px;
}

.mm3>a {
    width: 183px;
}

.mm4>a {
    width: 222px;
}

#gnb .mm4:hover .sub {
    height: 200px;
    width: 222px;
}

.mm5>a {
    width: 187px;
}

#gnb .mm5:hover .sub {
    height: 150px;
    width: 187px;
}


/*footer*/

footer {
    background: #f2f2f2;
    border-top: 1px solid #dbdbdb;
    padding-bottom: 52px;
    width: 100%;
    min-width: 1140px;
}

footer>div {
    width: 1000px;
    padding-top: 55px;
}

.footlogo {
    padding-top: 7px;
    float: left;
}

.copy {
    float: left;
    display: block;
    margin-left: 167px;
    line-height: 18px;
    font-family: "나눔고딕";
    font-size: 11px;
    text-align: center;
    color: #7c7979;
}

.footmenu {
    padding-top: 12px;
    float: right;
}

.footmenu>li {
    float: left;
    padding: 0 8px;
    background-image: url(../images/foot_bar.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.footmenu>li:nth-of-type(1) {
    background: none;
}

.footmenu>li>a {
    color: #7c7979;
    font-size: 13px;
    font-weight: bold;
}

@media all and (max-width:480px) {
    body {
        background-color: #eab5cf;
    }
}
