@charset "utf-8";
/* font: Noto Sans */
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Light.eot');
	src: url('../fonts/notosans/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Light.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-DemiLight.eot');
	src: url('../fonts/notosans/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-DemiLight.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-DemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Regular.eot');
	src: url('../fonts/notosans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Regular.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Medium.eot');
	src: url('../fonts/notosans/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Medium.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Bold.eot');
	src: url('../fonts/notosans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Bold.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Black.eot');
	src: url('../fonts/notosans/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Black.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* reset */
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'Noto Sans KR', sans-serif;color:#333}
a {color:#333;text-decoration:none; font-size: 16px; font-family:'Noto Sans KR', sans-serif;}
a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
input:focus, button:focus, button:active {outline: none;}
.clear{clear: both;}
.clearfix:after{clear: both; content: ""; display: block;}
.section1{background: url(../images/bg_section1.jpg); background-size: cover; position: relative;}
.section1-bg{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0,0,0,0.2);}
.section1-con{position: absolute;right: 60%; text-align: right; color: #fff;}
.section1-con h1{margin-top: -54px;font-size: 80px;}
.section .section1-con p{font-size: 20px;line-height: 1.5;}

.section h2{font-size: 60px;padding: 50px 0 50px 70px;}
.section p{font-size: 20px; padding-left: 70px; line-height: 3;}

.section2{background-color: #ddede3;}
.section2-con{margin: 0 auto; width: 1200px;}
.section2 .section2-con>div {float: left;width: 550px;height: 650px;background-color: #fff;}
.section2 .box1{margin-right: 50px; text-align: right;}
.section2 .box2{margin-left: 50px;}
.section2 .section2-con .box1 h2,
.section2 .section2-con .box1 p{padding-right: 70px;}

.section3{background-color: #f6f2e6;}
.section3 .section3-con{position: relative; width: 1200px;height: 600px; top: -50px;left: 50%;margin-left: -600px; background-color: #fff; overflow: hidden;}
.section3 .section3-con>div{position: absolute;}
.section3 .section3-con .site-image{width: 400px; height: 600px;float: left;}
.section3 .section3-con .site-info{position: relative; z-index: 100; float: right;width: 800px;height: 600px; background-color: #fff;}

.site-link { overflow:hidden; position:relative; display:block; width:140px; height:40px; float: left; margin: 240px 0 0 20px; border:1px solid #4c4c4d; text-align:center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; line-height:40px; color:#4c4c4d; font-size:14px; font-family:oswald; text-decoration:none; text-transform:uppercase;}
.site-link:first-of-type{margin-left: 70px;}
.site-link span { display:block;}
.site-link .hover:after { position:absolute; top:0; left:50%; opacity:0; display:block; content:""; width:0%; height:40px; background-color:#4c4c4d; border:1px solid transparent; transform:skewX(-40deg); -webkit-transform:skewX(-40deg); -moz-transform:skewX(-40deg); transform-origin:center center; -webkit-transform-origin:center center; -ms-transform-origin:center center; -moz-transform-origin:center center; transition:all .35s, opacity .4s; -webkit-transition:all .35s, opacity .4s; -moz-transition:all .35s, opacity .4s;}
.site-link .hover .txt { z-index:10; position:relative;  color:#4c4c4d; transition:color .35s; -webkit-transition:color .35s; -moz-transition:color .35s; }
.site-link:hover .hover .txt { color:#fff;}
.site-link .hover:hover:after { opacity:1; left:3%; width:95%; transform:skewX(-40deg); -webkit-transform:skewX(-40deg); -moz-transform:skewX(-40deg);}


.section3 .btn-area{position: absolute; left: 0;bottom: 0;width: 100%;height: 100px;}
.section3 .btn-area>div{float: left;width: 12.5%;background-color: #22211f; height: 100%;}
.section3 .btn-area>div.active{background-color: #d8d3cd;}
.section3 .btn-area>div button{position: relative; font-size: 14px; color: #fff;display: block; width: 100%;text-align: center; padding: 40px 0 39px;}
.section3 .btn-area>div button:after{content: "";position: absolute; width: 80%; height: 80%; border: 1px solid #fff; top: 10%;left: 10%;}
.section3 .btn-area>div.double button{padding: 29px 0;}
.section3-con>ul{position: relative;}
.section3-con>ul>li{position: absolute;left: 100%;width: 1200px;}
.section4{ background-color: #d8d3cd;}
.section4 .section4-con{ margin: 0 auto;width: 1200px;height: 650px;background-color: #fff;}
.section4 .section4-con .img-area{float: left;}
.section4 .section4-con .contact{float: right;width: 800px;}
.section4 .section4-con .contact h2{padding-bottom: 40px;}
.section4 .section4-con form{padding-left: 70px;}
.section4 .section4-con form #comment{font-family: inherit; border: 2px solid #d8d3cd; border-radius: 0;  outline-style: none; -webkit-appearance: none; -moz-appearance: none; appearance: none;width: 400px;height: 150px; margin-top: 50px;}
/*.section4 .section4-con form .send{display: block; margin-top: 60px; }*/
.send {overflow:hidden; position:relative; display:block; width:166px; height:38px; line-height:37px; border:1px solid #4c4c4d; color:#4c4c4d; text-align:center; text-decoration:none; text-transform:uppercase; font-size:14px; margin-top: 30px; cursor: pointer;}
.send span { position:relative; transition:color .25s ease-out; -webkit-transition:color .5s ease-out; -moz-transition:color .5s ease-out;}
.send:hover span { color:#fff;}
.send .hover { position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:#4c4c4d; border:1px solid transparent; transform:scale(1,0); -webkit-transform:scale(1,0); -moz-transform:scale(1,0); -ms-transform:scale(1,0); transform-origin:center top; -webkit-transform-origin:center top; -moz-transform-origin:center top; -ms-transform-origin:center top; transition:all .2s ease-out; -webkit-transition:all .2s ease-out; -moz-transition:all .2s ease-out;}
.send:hover .hover { transform:scale(1,1); -webkit-transform:scale(1,1); -moz-transform:scale(1,1); -ms-transform:scale(1,1);}