@charset "UTF-8";
/* font: Noto Sans */
/*@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);*/
/*
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Thin.eot');
	src: url('../fonts/notosans/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Thin.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
*/
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Light.eot');
	src: url('../fonts/notosans/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Light.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-DemiLight.eot');
	src: url('../fonts/notosans/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-DemiLight.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-DemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Regular.eot');
	src: url('../fonts/notosans/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Regular.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Medium.eot');
	src: url('../fonts/notosans/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Medium.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Bold.eot');
	src: url('../fonts/notosans/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Bold.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans/NotoSans-Black.eot');
	src: url('../fonts/notosans/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/notosans/NotoSans-Black.woff') format('woff'),
		  url('../fonts/notosans/NotoSans-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* reset */
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'Noto Sans',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none; font-size: 16px; font-family:'Noto Sans',dotum,sans-serif;}
a:hover {text-decoration:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
input:focus, button:focus, button:active {outline: none;}
.clear{clear: both;}
.clearfix:after{clear: both; content: ""; display: block;}
.pc-view{display: block;}
.mb-view{display: none;}
span.pc-view{display: inline-block;}
@media screen and (min-width:320px) and (max-width:1200px){
    .pc-view{display: none;}
    .mb-view{display: block;}
    span.pc-view{display: none;}
}
/* Text */
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}
.text-justify {text-align: justify;}
.text-nowrap {white-space: nowrap;}
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
.text-underline{text-decoration: underline;}
.text-mute{color: #666;}
.text-warning {color: #d01c1c;}
.text-primary {color: #1246a6;}
.text-success{color: #00c73c;}
.text-info {color: #898a8a;}
.text-danger {color: #413f3d;}
.text-black {color: #000;}
.text-highlight{color: #e1b166;}
/* wiidth */
.w10p {width: 10%;}
.w30p {width: 30%;}
.w60p {width: 60%;}
.w65p {width: 65%;}
.w70p {width: 70%;}
.w100p {width: 100%;}
/* margin */
.mnauto {margin: 0 auto;}
.mt0 {margin-top: 0px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}
.mt35 {margin-top: 35px;}
.mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}
.mb0 {margin-bottom: 0;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}
/* padding */
.pn {padding: 0;}
.pt0 {padding-top: 0px;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}
.pr30 {padding-right: 30px;}
.pr35 {padding-right: 35px;}
.pb0 {padding-bottom: 0px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}
.pb40 {padding-bottom: 40px;}
/* border */
.bt-none{border-top: 0 !important;}
.bb-none{border-bottom: 0 !important;}
/*float*/
.push-left{float: left;}
.push-right{float: right;}
/*Header*/
.header{width: 100%; height: 70px; transition: 0.2s;position: relative;z-index: 5000;}
.header>div.w1200{position: relative;}
.header h1{display: block;width: 85px; height: 28px; position: absolute; top: 21px; left: 0;}
.header h1 a{display: block;}
.header #nav{ width: 100%;}
.header #nav>li{ display: inline-block; width: 130px; height: 70px; vertical-align:top;}
.header #nav>li>a{color: #fff; font-size: 18px; font-weight: 500; display: block; width: 100%; padding: 23px 0; position: relative;}
/*.header #nav>li>a:hover{color: #7b633f !important;}*/
.header #nav>li>a:after {display: block;z-index: 2000; content: ""; width: 60%; height: 4px; background-color: #c69654; transform: scale(0, 1); transition: all 0.3s ease; position: absolute; top: 65px; left: 20%;}
.header #nav>li>a:hover:after{transform: scale(1, 1);}
.header .sub{display: none;width: 100%; height: 100px; text-align: center;background-color: rgba(255, 255, 255, 0.15);}
.header .sub>li{display: inline-block; width: 130px; height: 98px; vertical-align:top; padding-top: 16px;}
.header .sub>li a{color: #fff; font-size: 15px; font-weight: 300; display: block; width: 100%;height: 100%; padding: 1px 0;}
.header .sub>li a:hover{color: #c69654;}
.linkTo{ position: absolute; top: 20px; right: 0;width: 135px; border: 1px solid #fff; border-radius: 35px; z-index: 2500; }
.linkTo a{font-size: 14px; line-height: 12px; display: block; width: 100%; color: #fff; padding: 10px 0;}
/*Footer*/
.footer{width: 100%; background-color: #fff; padding: 55px 0; clear: both;}
.footmenu{padding: 20px 0;}
.footmenu>li{display: inline-block;padding: 0 10px 0 9px; background: url(../images/bg_footmenu.gif) no-repeat right center;}
.footmenu>li:last-child{background: none;}
.footer>div, .footer>p{font-size: 13px; line-height: 20px; color: #7d7d7d;}
/*container*/
.w1200{width: 1200px; margin: 0 auto;}

#container #content.intro #sub-visual {background-size: 100% auto; background-position-y: center; background-position-x: 50%; background-repeat: no-repeat; }

/*
#container #content.customer #sub-visual { background-size: 100% auto; background-image: url("../../images/layout/sub-visual_customer.jpg"); background-position-y: 0; background-position-x: 50%; background-repeat: no-repeat; }

#container #content.promote #sub-visual {background-size: 100% auto; background-image: url("../../images/layout/sub-visual_promote.jpg"); background-position-y: 0; background-position-x: 50%; background-repeat: no-repeat; }
*/

#container #content .sub-title { text-align: center; font-size: 36px; color: #fff; position: relative; top: 186px;
    line-height: 50px; }

/*#container #content.etc #sub-visual { background-size: 100% auto; background-image: url("../../images/layout/sub-visual_etc.jpg"); background-position-y: 0;  background-position-x: 50%;    background-repeat: no-repeat;}

#container #content.sca_visual #sub-visual { background-size: 100% auto; background-image: url("../../images/layout/sub-visual_etc3.jpg"); background-position-y: 0; background-position-x: 50%; background-repeat: no-repeat;}*/


#container #sub-visual { width: 100%; height: 420px;}
#container #sub-visual .srch-wrap {width: 780px; margin: 40px auto 0;}
#container #sub-visual .srch-wrap .sel-area { float: left; width: 200px; position: relative;}
#container #sub-visual .srch-wrap .sel-area>a { display: block; width: 200px; height: 50px; position: relative; line-height: 46px; font-size: 18px; border: 2px solid #fff; font-weight: 500; color: #fff; padding-left: 19px;     box-sizing: border-box;}
#container #sub-visual .srch-wrap .sel-area>a.active { border: 2px solid #333; background: #333;}
#container #sub-visual .srch-wrap .sel-area div { display: none; position: absolute;  left: 0; top: 50px; z-index: 200; width: 100%}
#container #sub-visual .srch-wrap .sel-area div a {display: block;height: 50px;line-height: 50px;border-top: 1px solid #505050;background: #333;color: #fff;-webkit-transition: background .3s ease;-moz-transition: background .3s ease;-o-transition: background .3s ease;-ms-transition: background .3s ease;font-size: 18px;padding-left: 21px;box-sizing: border-box;}
#container #sub-visual .srch-wrap .sel-area div a:hover { background: #272727; -webkit-transition: background .3s ease; -moz-transition: background .3s ease; -o-transition: background .3s ease; -ms-transition: background .3s ease;}
#container #sub-visual .srch-wrap .srch-area { float: left; width: 560px; height: 50px; margin-left: 20px; border: 2px solid #fff; padding-right: 52px; position: relative; box-sizing: border-box;}
#container #sub-visual .srch-wrap .srch-area button { position: absolute; right: 0; top: 0; width: 52px; height: 46px; background-image: url(../../images/sprite/common.png?4103574586711); background-position: -837px -595px; width: 52px; height: 46px;}
#container #location { width: 100%; position: absolute; top: 355px; height: 70px; z-index: 11; }
#container #location .all-wrap { width: 957px; height: 70px; margin-left: 210px; left: 50%; position: absolute; top: 0; background: #313131; transition: all .3s ease; transform: translate(-50%,  0);z-index: 12; }
#container #location .location_bg{position: absolute; height: 70px; z-index: 1; background: #313131; top: 0; width: 50%; right: 0;}
#container #location .all-wrap .loca-wrap { width: 957px; margin: 0 auto; height: 70px;}
#container #location .all-wrap .loca-wrap .loca-area { float: left; height: 70px; }
#container #location .all-wrap .loca-wrap .loca-area i { float: left; display: inline-block; }
#container #location .all-wrap .loca-wrap .loca-area i a { display: block; width: 100px; padding: 23px 0; color: #fff; font-style: normal; font-size: 16px; text-align: center;}
#container #location .all-wrap .loca-wrap .loca-area>ul {float: left;}
#container #location .all-wrap .loca-wrap .loca-area>ul>li { float: left; width: 188px; height: 70px; position: relative;}
#container #location .all-wrap .loca-wrap .loca-area>ul>li button { height: 70px; width: 190px; position: relative; color: #fff; text-align: left; padding-left: 1px; background-image: url("../images/btn_loca.png"); background-position-y: 50%; background-position-x: 150px; background-repeat: no-repeat; -webkit-transition: background .3s ease; -moz-transition: background .3s ease; -o-transition: background .3s ease; -ms-transition: background .3s ease; font-size: 16px;}
#container #location .all-wrap .loca-wrap .loca-area>ul>li button.active { background-image: url("../images/btn_loca_active.png"); background-position-y: 50%; background-position-x: 150px; background-repeat: no-repeat;}
#container #location .all-wrap .loca-wrap .loca-area>ul>li button:before { position: absolute; top: 0px; left: 0; width: 1px; height: 70px; background: rgba(255,255,255,0.25); content: ""}
#container #location .all-wrap .loca-wrap .loca-area>ul>li button span { padding-left: 20px;}
#container #location .all-wrap .loca-wrap .loca-area>ul>li:last-child button:after { position: absolute; top: 0px; right: 0; width: 1px; height: 70px; background: rgba(255,255,255,0.25); content: ""}
#container #location .all-wrap .loca-wrap .loca-area>ul>li div { overflow: hidden; height: 0; position: relative; }
#container #location .all-wrap .loca-wrap .loca-area>ul>li div ul { display: block; position: absolute; width: 100%; left: 0; padding: 11px 0; background: #383838;}
#container #location .all-wrap .loca-wrap .loca-area>ul>li div ul li a { font-size: 14px;  height: 32px; color: #fff; line-height: 32px; display: block; -webkit-transition: background .3s ease; -moz-transition: background .3s ease; -o-transition: background .3s ease; -ms-transition: background .3s ease; padding-left: 19px; box-sizing: border-box;}
#container #location .all-wrap .loca-wrap .loca-area>ul>li div ul li a:hover { color:#d6ad75}
#container #location .all-wrap .loca-wrap .share-area { float: right; box-sizing: border-box;}
#container #location .all-wrap .loca-wrap .share-area .hide-wrap { width: 151px; height: 70px; overflow: hidden; float: left;}
#container #location .all-wrap .loca-wrap .share-area .hide-wrap .hide-area { width: 151px; height: 70px; position: relative; left: 200px; }
#container #location .all-wrap .loca-wrap .share-area .hide-wrap .hide-area ul { overflow: hidden; padding-top: 25px;}
#container #location .all-wrap .loca-wrap .share-area .hide-wrap .hide-area ul li { float: left; margin-left: 13px; padding-right: 20px;}
#container #location .all-wrap .loca-wrap .share-area .hide-wrap .hide-area ul li:first-child { margin-left: 0; }
#container #location .all-wrap .loca-wrap .share-area .hide-wrap .hide-area ul li a img{width: 20px;}
#container #location .all-wrap .loca-wrap .share-area .share-btn {width: 78px; height: 70px; background-image: url("../images/ico_sns.png"); float: right; text-indent: -9999px; box-sizing: unset; background-repeat: no-repeat; background-position: 34px center; transition: all .5s ease; border-right: 1px solid #656565;}
#container #location .all-wrap .loca-wrap .share-area .share-btn.active { background-image: url("../images/ico_sns_close.png"); border-left: 1px solid #656565;}
#container #location.fix { width: 100%;}
#container #location.fix .all-wrap { width: 100%;position: fixed;top: 0;}

#container .content-wrap{position: relative;margin-top: 140px; border-bottom: 1px solid #e3e3e3;}
#container .content-wrap .sub-inner-title{height: 148px; }
#container .content-wrap .sub-inner-title h2{display: block;padding-top: 20px; font-size: 45px; font-weight: 500; position: relative; color: #5f5f5f; line-height: 45px;}
#container .content-wrap .sub-inner-title h2:before{content: ""; display: block; height: 4px;width: 70px; background-color: #c69654; position: absolute; top: 0;left: 0;}
