@charset "UTF-8";

.header{position: fixed; top: 0; z-index: 2000;}
.section1{background:url(../images/m_bg1.png) center; background-size: cover;}
.section2{background:url(../images/m_bg2.png) center; background-size: cover;}
.section3{background:url(../images/m_bg3.png) center; background-size: cover;}
.section4{background:url(../images/m_bg4.png) center; background-size: cover;}
.section5{background-color: #da9e40;}
.section {position: relative}
.bg-main-semicircle{position: absolute;width: 180px;height: 180px;  z-index: 500; top: 50%; opacity: 0; }
.section1 .bg-main-semicircle{width: 150px;height: 150px; background: url(../images/bg_effect3.png) no-repeat; background-size: cover; margin: -150px 250px 0;left: 50%; }
.section2 .bg-main-semicircle{background: url(../images/bg_effect1.png) no-repeat; background-size: cover; margin: 25px 80px 0;left: 45%; }
.section3 .bg-main-semicircle{background: url(../images/bg_effect3.png) no-repeat; background-size: cover; margin: 10px -250px 0;left: 55%; }
.section4 .bg-main-semicircle{background: url(../images/bg_effect1.png) no-repeat; background-size: cover; margin: 90px 30px 0;left: 45%; }

.section-con, .news-con {position: relative; z-index: 1000; color: #fff;}
.section1 .section-con{margin-top: 0; transform: translateY(-50%);}
.section1 .section1-bg{width: 100%; height: 100%;}
.section1 .section1-bg li{position: absolute; float: left; height: 100%; width: 100%; left: 100%;}
.section1 .section1-bg li:first-child{background-color: fuchsia; left: 0;}
.section1 .section1-bg li:nth-child(2){background-color:red}
.section1 .section1-bg li:last-child{background-color:brown}
.section1 .section-con{position: absolute; top: 60%; width: 100%; opacity: 0;}
.section1 .section-con li{display: inline-block;}
.section1 .section-con h2{font-size: 48px; font-weight: 600;line-height: 84px;}
.section1 .section-con p{font-size: 22px; font-weight: 300; margin-top: 10px; }
.section-con h2{font-size: 43px; font-weight: 400;line-height: 60px; color: #f2f2f2;}
.section-con p{font-size: 20px; font-weight: 300; line-height: 32px; margin-top: 30px;color: #f2f2f2;}
.section-con .main-color{color: #da9e40;}

.section-con .btn-main{margin-top: 70px;}
.section1 .btn-main .actionBtn1{margin:auto;}
.section3 .btn-main .actionBtn1{float: right;}
.section-con .btn-main .actionBtn1 {
     border-radius: 35px; color: #f2f2f2;
	 overflow:hidden;
	 position:relative;
	 display:block;
	 width: 250px;
	 height:60px;
     text-align: left; box-sizing: border-box; font-size: 18px; font-weight: 500; text-indent: 30px;
	 line-height:40px;
	 border: 2px solid #fff;
	 color:#fff;
	 text-decoration:none;
	 text-transform:uppercase;
	 font-size: 18px;
     transition: 0.1s;
     /*background-image: url(../images/bg_main_btn.png); background-repeat: no-repeat; background-position: 214px center;*/
}
.actionBtn1 span {
    top: 10px;
	 position:relative;
	 transition:color .25s ease-out;
	 -webkit-transition:color .25s ease-out;
	 -moz-transition:color .25s ease-out;
}
.section-con .btn-main .actionBtn1:hover{
    border: 2px solid #da9e40;
/*    color: #da9e40;*/
}
.section1 .actionBtn1 .main_arrow{margin-left: 50px;}
.actionBtn1 .main_arrow{margin-left: 80px;}
.actionBtn1 .hover {
	position:absolute;
	 top:0;
	 left:0;
	 display:block;
	 width:100%;
	 height:100%;
	 background:#da9e40;
/*	 border:1px solid transparent;*/
	transform:scale(1,0);
	 -webkit-transform:scale(1,0);
	 -moz-transform:scale(1,0);
	 -ms-transform:scale(1,0);
	 transform-origin:center top;
	 -webkit-transform-origin:center top;
	 -moz-transform-origin:center top;
	 -ms-transform-origin:center top;
	transition:all .2s ease-out;
	 -webkit-transition:all .2s ease-out;
	 -moz-transition:all .2s ease-out;
}
.actionBtn1:hover .hover {
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-ms-transform:scale(1,1);
}
.section .img-area{position: absolute;top: 60%; opacity: 0;}
.section2 .img-area{margin-top: -437px;left: 50%;}
.section3 .img-area{margin-top: -280px;left: 50%; margin-left: -850px;}
.section4 .img-area{margin-top: -353px;left: 50%; margin-left: 150px;}
.section5 .section5-bg{position: absolute; z-index: 6; width: 50%; height: 100%; top: 0; right: 0; background:url(../images/m_bg5.png) center; background-size: cover;}
.section5 .news-con>h2{font-size: 55px; font-weight: 500; display: block; margin-left: 64px; padding-bottom: 30px;}
.news-con .news-zone{position: relative; width: 1020px; height: 380px; background-color: #fff; overflow: hidden; margin-top: 30px; margin: 0 auto; overflow: visible; padding: 0 25px;box-sizing: content-box}
.news-con .news-zone li{float: left;width: 340px; height: 380px;}
.news-con .news-zone li{padding: 50px 25px 38px;}
.news-con .news-zone li>a{display: block; width: 100%;height: 100%;}
.news-con .news-zone .article{ height: 190px;}
.news-con .news-zone .article h4{font-size: 22px; font-weight: 500;}
.news-con .news-zone .article p{display: -webkit-box; line-height: 20px; font-size: 16px; color: #606060; word-break: break-all; overflow: hidden; }
.news-con .news-zone .article-new{color: #ad874e; background: url(../images/bg_article-new.gif) no-repeat top left;}
.news-con .news-zone .btn-area{position: absolute; bottom: -50px; left:50%; margin-left: -60px;background-color: #22211f; z-index: 800;}
.news-con .news-zone .btn-area>button{float: left;width: 60px;height: 100px;}
.news-con .news-zone .btn-area .btn-left{background: url(../images/btn_main_left.png) no-repeat 34px 38px;}
.news-con .news-zone .btn-area .btn-right{background: url(../images/btn_main_right.png) no-repeat 10px 38px;}
