#container #content.intro #sub-visual{background-image: url(../images/bg_notice_header.jpg);}
.table-article .article {display: block;}
.table-article .article .article-content{ display: none;}
.table-article .article.active .article-content{ display: block; border: 1px solid #c7c7c7; border-bottom: 1px solid #8f8f8f}
.table-article .table-header{ height: 55px; background-color: #616161; display: inline-table;width: 100%;}
.table-article .table-header span{ color: #fff; display: inline-block; font-size: 18px; padding-top: 14px;}
.number{ width: 134px;padding-left: 30px;}
.title{ width: 916px; }
.date{width: 148px; padding-right: 30px;}

.table-article .article-title {width: 100%;}
.table-article .article .article-title{display: block;font-size: 14px;  font-weight: 400;  color: #000; height: 74px; border: 1px solid #8f8f8f; border-top: 0;}
.table-article .article .article-title span{display: inline-block; float: left;}
.table-article .article .article-title .number,
.table-article .article .article-title .date{font-size: 16px; color: #717171; padding-top: 25px;}
.table-article .article .article-title .title{font-size: 20px; color: #313131; padding-top: 23px;}

.article-content{height: 500px; padding: 40px 0px 40px 134px; }
.article-content h4{font-size: 24px; color: #313131; font-weight:400; padding-bottom: 60px;}
.article-content .article-detail{height: 420px;font-size: 15px; color: #4e4e4e; line-height: 22px; font-weight: 300; overflow-y: scroll; padding-right: 110px;}

/* pagination */
.table-article-page {
	text-align: center;
	margin: 65px 0 100px;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0 auto;
  border-radius: 4px;
}
.pagination > li {
  display: inline-block;
  margin: 0 3px;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 7px 14px;
  color: #413f3d;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  background-color: #fff;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  background-color: #fff;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #413f3d;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  cursor: default;
  background-color: #c1c1c1;
  border: solid 1px #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: not-allowed;
  background-color: #dddddd;
}
