#container #content.intro #sub-visual{background-image: url(../images/bg_recruit_header.jpg);}
.task-content{margin: 0px 0px 100px;position: relative;overflow: hidden;height: 1128px;}
.task-content>ul{font-size:0}
.task-content>ul>li{overflow: hidden;}
.task-content div>span{background-color: rgba(0,0,0,0.7); width: 100%;height: 100%; position: absolute;z-index: 10;top:0;left:0}
.task-content li h3{font-size: 34px; font-weight: 400;color:#fff;top:40px;left:30px;position:absolute;z-index:15}
.task-content>ul>li>div>span>span{position:absolute;display:block;z-index:9;text-align:left;}
.task-content li .info01>p{font-size: 26px; line-height: 36px; font-weight: 300;color:#fff;}
/*task01*/
.task-content>ul>.task01{display:inline-block;vertical-align:top;position:absolute;top:0;left:0;width: 791px; height: 353px;}
.task-content>ul>.task01>.task01_area{position: relative;height: 371px;overflow:hidden;}
.task-content>ul>.task01>.task01_area>img{transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task01>.task01_area:hover>img{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1);transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task01>.task01_area>.task01_roll{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task01>.task01_area:hover>.task01_roll{opacity:1;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task01>.task01_area>.task01_roll>.info01{top: 120px;left:30px;}
/*task02*/
.task-content>ul>.task02{display:inline-block;vertical-align:top;position:absolute;top:0;right:0px;width: 392px; height: 791px;}
.task-content>ul>.task02>.task02_area{position: relative;height: 830px;overflow:hidden;}
.task-content>ul>.task02>.task02_area>img{transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task02>.task02_area:hover>img{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1);transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task02>.task02_area>.task02_roll{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task02>.task02_area:hover>.task02_roll{opacity:1;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task02>.task02_area>.task02_roll>.info01{top: 120px;left:30px;}
/*task03*/
.task-content>ul>.task03{display:inline-block;vertical-align:top;position:absolute; bottom: 0; left:0;width: 386px;height: 755px; }
.task-content>ul>.task03>.task03_area{position: relative;height: 791px;overflow:hidden;}
.task-content>ul>.task03>.task03_area>img{transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task03>.task03_area:hover>img{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1);transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task03>.task03_area>.task03_roll{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task03>.task03_area:hover>.task03_roll{opacity:1;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task03>.task03_area>.task03_roll>.info01{top:120px;left:30px;}
/*task04*/
.task-content>ul>.task04{display:inline-block;vertical-align:top;position:absolute;top:50%;left:50%;margin-left:-194px;margin-top:-191px;width: 385px; height: 418px;}
.task-content>ul>.task04>.task04_area{position: relative;height: 447px;overflow:hidden;}
.task-content>ul>.task04>.task04_area>img{transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task04>.task04_area:hover>img{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1);transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task04>.task04_area>.task04_roll{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task04>.task04_area:hover>.task04_roll{opacity:1;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task04>.task04_area>.task04_roll>.info01{top: 120px;left:30px;}
/*task05*/
.task-content>ul>.task05{display:inline-block;vertical-align:top;position:absolute;bottom:0px;right:0px;width: 796px; height: 317px;}
.task-content>ul>.task05>.task05_area{position: relative;height: 325px;overflow:hidden;}
.task-content>ul>.task05>.task05_area>img{transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task05>.task05_area:hover>img{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1);transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);-webkit-transition:transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.task-content>ul>.task05>.task05_area>.task05_roll{opacity:0;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task05>.task05_area:hover>.task05_roll{opacity:1;transition:opacity 1s;-webkit-transition:opacity 1s}
.task-content>ul>.task05>.task05_area>.task05_roll>.info01{top: 120px;left:30px;}

.pb100{padding-bottom: 100px;}
.content-wrap .content-recruit .recruit-img{height: 110px;}
.content-wrap .content-recruit ul.mt200{margin-top: 200px;}
.content-wrap .content-recruit li {float: left;width: 500px;}
.content-wrap .content-recruit li:first-child{margin-right: 200px;}
.content-wrap .content-recruit li h4{margin-top: 25px; font-size: 26px; font-weight: 400;}
.content-wrap .content-recruit li p{margin-top: 20px;}
.content-wrap .content-recruit li p.work{font-size: 16px; color: #454545; line-height: 20px;}
.content-wrap .content-recruit li p.preference{font-size: 14px; line-height: 20px; color: #7b7b7b;}
.content-wrap .content-recruit li a{margin-top: 45px; display: block; width: 170px; font-size: 18px; color: #fff; background-color: #eab35d; border-radius: 27px; padding: 14px 0 14px 20px; background-image: url(../images/btn_recruit_link.png); background-repeat: no-repeat; background-position: 130px center;}
.content-wrap .content-recruit li a:hover{background-color: #da9e40}
