#container #content.intro #sub-visual{background-image: url(../images/bg_service_header.jpg);}
#container .content-height{margin-top: 140px;}
#content .content-wrap .content-service-intro{position: relative; z-index: 50;height: 964px; overflow: hidden;}
#content .content-wrap .content-service-intro .w1200{height: 100%; background: url(../images/bg_effect1.png) no-repeat 130px 180px; background-size: 340px 340px;}
#content .content-wrap .content-service-intro .sub-text{margin-left: 600px; overflow-x: visible;position: absolute; z-index: 500;background: url(../images/img_service_intro.jpg) no-repeat; width: 100%; opacity: 0;}
#content .content-wrap .content-service-intro .sub-text>div{padding-top: 555px;}
#content .content-wrap .content-service-intro .sub-text p{color: #646464; font-size: 18px; font-weight: 300;}
.content-service-intro-bg{width: 100%; background-color: #f1f1f1; position: absolute; z-index: 100;top: 450px; left: -50%; margin-left:370px; height: 365px;}
.content-service-intro-bg p{padding-top: 48px; font-size: 26px; line-height: 35px; color: #464646; width: 325px; float: right; margin-right: 800px;font-weight: 300; opacity:0}
.content-service-intro-bg p span.text-highlight{font-size: 28px; font-weight: 400;}

#content .content-wrap .content-service-feature{margin-top: 140px;}
#content .content-wrap .content-service-feature .con-top{background-color: #f1f1f1; height: 542px;}
#content .content-wrap .content-service-feature .feature-top li{float: left; width: 250px; padding: 50px 225px 50px 0; box-sizing: content-box}
#content .content-wrap .content-service-feature .feature-top li:first-child,
#content .content-wrap .content-service-feature .feature-top li:nth-child(2){background: url(../images/bg_arrow.png) 290px 172px no-repeat;}
#content .content-wrap .content-service-feature .feature-top li:last-child{padding-right: 0px;}
#content .content-wrap .content-service-feature .feature-top li div{width: 250px;height: 250px; background-color: #313131; border-radius: 50%; display: table-cell;}


#content .content-wrap .content-service-feature .feature-top li div>span{display: table-cell; width: 250px;height: 250px; vertical-align: middle; font-size: 20px; color: #fff; line-height: 30px; }


#content .content-wrap .content-service-feature .feature-top li h4{padding-top: 50px; font-size: 18px; font-weight: 400;}
#content .content-wrap .content-service-feature .feature-top li p{font-size: 14px; color: #646464;}
#content .content-wrap .content-service-feature .con-bottom{padding-bottom: 75px;}
#content .content-wrap .content-service-feature .con-bottom .con-bottom{padding-bottom: 60px;}
#content .content-wrap .content-service-feature .con-bottom ul li div{width: 250px;height: 150px; margin: 0 auto;}
#content .content-wrap .content-service-feature .con-bottom ul li{float: left; margin-right: 150px; text-align: center; padding: 20px 0;}
#content .content-wrap .content-service-feature .con-bottom ul li:last-child{margin-right: 0px;}
#content .content-wrap .content-service-feature .con-bottom ul li h4{font-size: 22px; font-weight: 500; padding-top: 50px;}
#content .content-wrap .content-service-feature .con-bottom ul li p{color: #646464;font-size: 15px; line-height: 20px; padding-top: 20px;}
#content .content-wrap .content-service-feature .con-bottom ul{padding-top: 130px;}
.service-feature-list1{background: url(../images/ico_feature01.png) no-repeat; background-size:100%; background-position-x: center; background-position-y:150px; opacity:0;}
.service-feature-list2{background: url(../images/ico_feature02.png) no-repeat; background-size:100%; background-position-x: center; background-position-y:150px; opacity:0;}
.service-feature-list3{background: url(../images/ico_feature03.png) no-repeat; background-size:100%; background-position-x: center; background-position-y:150px; opacity:0;}
.service-feature-list4{background: url(../images/ico_feature04.png) no-repeat; background-size:100%; background-position-x: center; background-position-y:150px; opacity:0;}
.service-feature-list5{background: url(../images/ico_feature05.png) no-repeat; background-size:100%; background-position-x: center; background-position-y:150px; opacity:0;}
.service-feature-list6{background: url(../images/ico_feature06.png) no-repeat; background-size:100%; background-position-x: center; background-position-y:150px; opacity:0;}
